.l-inline-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  &--center {
    justify-content: center;
    & > div {
      margin: 0 5px;
    }
  }
  .l-inline-wrap-element {
    margin-bottom: 10px;
  }
  .l-inline-wrap-element:last-child {
    margin-bottom: 0;
  }
}