<div class="og-scoville" data-target="generateUnique">
    <div class="og-scoville-image">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280pt" height="640pt"
             viewBox="0 0 1280 640" preserveAspectRatio="xMidYMid meet">
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="3%" style="stop-color:#26f26a;stop-opacity:1"/>
                    <stop offset="33%" style="stop-color:#fcf56f;stop-opacity:1"/>
                    <stop offset="73%" style="stop-color:#b20000;stop-opacity:1"/>
                    <stop offset="99%" style="stop-color:#3f0000;stop-opacity:1"/>
                </linearGradient>
            </defs>
            <g fill="url(#grad1)" transform="translate(0.000000,640.000000) scale(0.100000,-0.100000)" stroke="none">
                <path d="M9505 4925 c-570 -60 -1096 -223 -2445 -760 -828 -329 -1222 -501 -1680 -732 -433 -219 -819 -388 -1059 -464 -102 -32 -105 -32 -185 -21 -199 29 -822 201 -1553 428 -315 98 -380 114 -483 114 -206 0 -406 -64 -831 -268 -229 -110 -279 -126 -374 -121 -160 7 -432 2 -505 -9 -41 -7 -129 -22 -195 -34 -110 -20 -123 -24 -152 -55 -37 -38 -52 -95 -32 -119 32 -38 80 -54 305 -99 191 -38 302 -75 405 -134 118 -68 146 -75 309 -75 84 0 208 8 295 19 214 27 443 26 553 -3 170 -44 252 -108 592 -461 436 -452 627 -587 912 -642 184 -36 383 -25 763 41 94 16 213 34 265 40 138 15 237 35 495 96 473 113 533 121 746 99 255 -26 427 -32 666 -24 126 4 253 10 283 13 30 3 129 13 220 21 283 27 710 83 1425 186 380 55 940 135 1245 179 305 44 573 84 595 91 64 17 190 84 253 132 62 49 200 188 248 252 51 67 158 246 187 312 50 113 97 397 97 585 l0 80 48 -6 c26 -4 98 -20 160 -36 428 -111 899 -422 1221 -807 138 -164 219 -297 291 -478 29 -72 43 -93 68 -108 45 -26 94 -16 123 25 l22 30 -23 72 c-69 219 -271 516 -515 761 -388 388 -871 650 -1304 708 l-95 13 -17 134 c-20 156 -46 266 -88 367 -33 80 -165 311 -222 389 -54 74 -150 157 -223 193 -163 80 -484 110 -811 76z"/>
            </g>
        </svg>
        <div class="pointer" style="left:25%"></div>
        <div class="og-scoville-title">
            <h3>Malagueta</h3>
        </div>
        <div class="og-scoville-text" style="padding-left:15%">
            <h3>30.000 Scoville</h3>
        </div>
    </div>
</div>
