{{> components/blog/subintro
        title="Donde conseguir Bulbos"
        text="Puedes comprar los bulbos de Tomate Rosa en <a href=\"\">este enlace</a> que te llevará a una tienda segura donde podrás obtener tus semillas."
        infographic="components/button/amazon"
}}