{{> components/blog/subintro
        title="Donde conseguir Semillas"
        text="Puedes comprar semillas de Tomate Rosa en <a href=\"#\">este enlace</a> que te llevará a una tienda segura donde podrás obtener tus semillas."
        infographic="components/button/amazon"
}}