.bctt-click-to-tweet {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-image: url(https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg);
  background-position: top;
  background-size: cover;
  .bctt-ctt-text {
    text-shadow: 1px 0 1px white;
  }
  .bctt-ctt-text a {
    border: none;
    color: black;
    font-size: 1.6rem;
  }
  .bctt-ctt-text:before {
    content: "\201C";
    font-size: 1.6rem;
    color: black;
  }
  .bctt-ctt-btn {
    color: white;
    @extend .button;
    @extend .button--secondary;
    width: 150px;
    margin: 5px auto 0 auto;
  }
}