<div class="ml-icons-text">
    <h2 class="ml-icons-text-title">{{title}}</h2>
    <div class="ml-icons-text-image">
        {{> atoms/image src=src}}
    </div>
    <p class="ml-icons-text-description">
        {{text}}
    </p>
</div>