.l-slider {
  display: flex;
  width: 100%;
  margin: auto;

  .l-slider-list {
    flex: 1;
    list-style-type: none;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
    overflow-x: scroll;
  }
  .l-slider-item {
    display: inline-block;
    width: 75%;
    padding: 5px;
    height: 250px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align:center;
        background-color: rgba($secondary-color-light, 0.85);
        padding: 0 !important;
        color: $primary-color-text;
        line-height: 25px;
        text-shadow: 1px 0 1px #388E3C;
      }
    }
  }

}
