<div class="og-fixed-summary-price">
    <div class="og-fixed-summary-price-wrapper">
        <div class="og-fixed-summary-price-value">
            <p class="small">Precio final:</p>
            <p>1250€</p>
        </div>
        <div class="og-fixed-summary-price-button">
            <button>Reservar</button>
        </div>
        <div class="og-fixed-summary-price-fold">
            <button>i</button>
        </div>
    </div>
    <div class="og-fixed-summary-price-unfold"></div>
</div>
<div class="content-to-copy">
</div>
