<div class="og-fixed-summary-price">
    <div class="og-fixed-summary-price-wrapper">
        <div class="og-fixed-summary-price-value">
            <p class="small">Precio final:</p>
            <p>1250€</p>
        </div>
        <div class="og-fixed-summary-price-button">
            <button>Reservar</button>
        </div>
        <div class="og-fixed-summary-price-fold">
            <button>i</button>
        </div>
    </div>
    <div class="og-fixed-summary-price-unfold"></div>
</div>
<div class="content-to-copy">
    <booking-summary>
        <div class="m-box m-box--skin-1 m-box--m-box-small">
            <div class="m-box__header m-box__header--skin-1 text-align-center"> Resumen de tu reserva </div>
            <div class="m-box__content m-box__content--skin-1">
                <div class="c-special-price">
                    <div class="c-special-price__title">Precio final</div>
                    <div class="c-special-price__box">
                        <div class="c-special-price__element">2.325 € </div>
                    </div>
                </div>
                <div class="text-align-right u-pb-10 u-mv-10 u-border u-border--b">
                    <!---->
                    <!---->
                    <div class="s-layout s-layout--has-padding-top">
                        <div class="m-table m-table-breakdown m-table-breakdown--full">
                            <div class="m-table__content">
                                <div class="m-table__row m-table__row--collapse m-table-breakdown__row m-table__row--solid-bordered">
                                    <div class="m-table__col m-table__col--no-padding text-align-left">
                                        <span class="m-table__col-item">Precio</span>
                                    </div>
                                    <div class="m-table__col m-table__col--no-padding text-align-right">
                                        <span class="m-table__col-item">2.500 €</span>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <div class="m-table__row m-table__row--collapse m-table-breakdown__row m-table__row--solid-bordered">
                                    <div class="m-table__col m-table__col--no-padding text-align-left">
                                        <span class="m-table__col-item">Descuento noche gratis</span>
                                    </div>
                                    <div class="m-table__col m-table__col--no-padding text-align-right">
                                        <span class="m-table__col-item">-175 €</span>
                                    </div>
                                </div>
                                <!---->
                                <div class="m-table__row m-table__row--collapse m-table-breakdown__row m-table__row--solid-bordered">
                                    <div class="m-table__col m-table__col--no-padding text-align-left">
                                        <span class="m-table__col-item">Gasto de gestión</span>
                                    </div>
                                    <div class="m-table__col m-table__col--no-padding text-align-right">
                                        <span class="m-table__col-item">0 €</span>
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
            </div>
            <!---->
            <div>
                <div class="m-box__content m-box__content--skin-1">
                    <div class="m-box__details">
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-plane c-icon--not-padding"></i>vuelo
                                </div>
                                <div class="m-box-small__heading-date">lun. 10/09/2018</div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-flight-resume">
                                    <div class="m-flight-resume__header">
                                        <div class="m-flight-resume__location">
                                            <div>
                                                <span class="m-flight-resume__location-letters">MAD</span>
                                                <span class="m-flight-resume__location-time">16:55</span>
                                            </div>
                                        </div>
                                        <i class="m-flight-resume__icon c-icon c-icon-flight-direction c-icon--secondary c-icon--super"></i>
                                        <div class="m-flight-resume__location">
                                            <div>
                                                <span class="m-flight-resume__location-letters">MRU</span>
                                                <span class="m-flight-resume__location-time">06:25</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-flight-resume__scale">
                                        <img class="m-flight-resume__icon-prov" src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/logo/proveedores/vuelos/x2/logo_EVE.png">
                                        <div class="m-flight-resume__scale-text"></div>
                                    </div>
                                    <div class="m-flight-resume__details">
                                        <div class="m-flight-resume__details-title js-toggle-trigger" data-toggle-target="#hide_0">
                                            <i class="c-icon c-icon-arrow c-icon-arrow--top c-icon--small"></i>Detalle del Vuelo
                                        </div>
                                        <div id="hide_0" class="m-flight-resume__details-content is-active">
                                            <div class="m-flight-resume__details-locator">
                                                <div class="m-flight-resume__details-locator-num">EVE0837</div>
                                                <img class="m-flight-resume__details-locator-prov" src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/logo/proveedores/vuelos/x2/logo_EVE.png">
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-time">
                                                    <span class="m-flight-resume__details-info-time-type">SALIDA </span>
                                                    <span class="m-flight-resume__details-info-time-day">lun. 10 septiembre </span>
                                                    <span class="m-flight-resume__details-info-time-hour">16:55 hs.</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-destination">
														<span>
															<b>(MAD)</b>
														</span>
                                                </div>
                                                <div class="m-flight-resume__details-info-destination">
                                                    <span>Aeropuerto Adolfo Suárez Madrid-Barajas</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-time">
                                                    <span class="m-flight-resume__details-info-time-type">LLEGADA </span>
                                                    <span class="m-flight-resume__details-info-time-day">mar. 11 septiembre </span>
                                                    <span class="m-flight-resume__details-info-time-hour">06:25 hs.</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-destination">
														<span>
															<b>(MRU)</b>
														</span>
                                                </div>
                                                <div class="m-flight-resume__details-info-destination">
                                                    <span>Aerop. Plaisance</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-plane c-icon--not-padding"></i>Seguros contratados
                                </div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-box-small__text">
                                    <div>
                                        <strong class="m-box-small__text-title">Seguro Inclusión QUELONEA 0BB</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-plane c-icon--not-padding"></i>Seguros contratados
                                </div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-box-small__text">
                                    <div>
                                        <strong class="m-box-small__text-title">Seguro Opcional Equipaje QUELONEA 0BM</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-transfers"></i>Traslado
                                </div>
                                <div class="m-box-small__heading-date">mar. 11/09/2018</div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-box-small__text">
                                    <div>Traslado Aeropuerto Mauricio - Hotel Mauricio</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-bed"></i>Hotel
                                </div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-hotel-resume">
                                    <picture class="m-hotel-resume__img">
                                        <img src="https://d2poxrheyfxwbo.cloudfront.net/resize/480x180/filters:quality(65):max_age(2604800)/s3/hotel/b6f84721-8bc7-4548-adfe-79a87247f5b7">
                                    </picture>
                                    <div class="m-hotel-resume__title">
                                        <span>Riu Creole</span>
                                        <i class="c-icon c-icon-star c-icon-star--4 c-icon--not-padding"></i>
                                    </div>
                                    <div class="m-hotel-resume__dates">
                                        <div>Entrada:
                                            <strong>11/09/2018</strong>
                                        </div>
                                        <div>Salida:
                                            <strong>18/09/2018</strong>
                                        </div>
                                    </div>
                                    <div class="m-hotel-resume__icons">
												<span>7
													<i class="c-icon c-icon-nights"></i>
												</span>
                                        <span>2
													<i class="c-icon c-icon-pax"></i>
												</span>
                                        <span>1
													<i class="c-icon c-icon-bed"></i>
												</span>
                                    </div>
                                    <div class="m-hotel-resume__text">Habitación Standard, Todo Incluido</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-plane c-icon--not-padding"></i>vuelo
                                </div>
                                <div class="m-box-small__heading-date">mar. 18/09/2018</div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-flight-resume">
                                    <div class="m-flight-resume__header">
                                        <div class="m-flight-resume__location">
                                            <div>
                                                <span class="m-flight-resume__location-letters">MRU</span>
                                                <span class="m-flight-resume__location-time">09:20</span>
                                            </div>
                                        </div>
                                        <i class="m-flight-resume__icon c-icon c-icon-flight-direction c-icon--secondary c-icon--super"></i>
                                        <div class="m-flight-resume__location">
                                            <div>
                                                <span class="m-flight-resume__location-letters">MAD</span>
                                                <span class="m-flight-resume__location-time">19:15</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-flight-resume__scale">
                                        <img class="m-flight-resume__icon-prov" src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/logo/proveedores/vuelos/x2/logo_EVE.png">
                                        <div class="m-flight-resume__scale-text"></div>
                                    </div>
                                    <div class="m-flight-resume__details">
                                        <div class="m-flight-resume__details-title js-toggle-trigger" data-toggle-target="#hide_5">
                                            <i class="c-icon c-icon-arrow c-icon-arrow--top c-icon--small"></i>Detalle del Vuelo
                                        </div>
                                        <div id="hide_5" class="m-flight-resume__details-content is-active">
                                            <div class="m-flight-resume__details-locator">
                                                <div class="m-flight-resume__details-locator-num">EVE0838</div>
                                                <img class="m-flight-resume__details-locator-prov" src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/logo/proveedores/vuelos/x2/logo_EVE.png">
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-time">
                                                    <span class="m-flight-resume__details-info-time-type">SALIDA </span>
                                                    <span class="m-flight-resume__details-info-time-day">mar. 18 septiembre </span>
                                                    <span class="m-flight-resume__details-info-time-hour">09:20 hs.</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-destination">
																	<span>
																		<b>(MRU)</b>
																	</span>
                                                </div>
                                                <div class="m-flight-resume__details-info-destination">
                                                    <span>Aerop. Plaisance</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-time">
                                                    <span class="m-flight-resume__details-info-time-type">LLEGADA </span>
                                                    <span class="m-flight-resume__details-info-time-day">mar. 18 septiembre </span>
                                                    <span class="m-flight-resume__details-info-time-hour">19:15 hs.</span>
                                                </div>
                                            </div>
                                            <div class="m-flight-resume__details-info">
                                                <div class="m-flight-resume__details-info-destination">
																	<span>
																		<b>(MAD)</b>
																	</span>
                                                </div>
                                                <div class="m-flight-resume__details-info-destination">
                                                    <span>Aeropuerto Adolfo Suárez Madrid-Barajas</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-box-small">
                            <div class="m-box-small__heading">
                                <div class="m-box-small__heading-title">
                                    <i class="c-icon c-icon-transfers"></i>Traslado
                                </div>
                                <div class="m-box-small__heading-date">mar. 18/09/2018</div>
                            </div>
                            <div class="m-box-small__wrap">
                                <div class="m-box-small__text">
                                    <div>Traslado Hotel Mauricio - Aeropuerto Mauricio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </booking-summary>
</div>
