<div class="og-fixed-price l-flex l-flex--align__center l-fixed l-fixed--bottom">
    <div class="og-fixed-price--title h2 h2--primary h2--strong">Всего за 5800 ₽</div>
    <div class="og-fixed-price--button">КУПИТЬ СО СКИДКОЙ</div>
</div>


<script>


</script>