<div id="google_translate_element" style="display:none"></div>
<div class="og-i18n-flag og-i18n-flag--fold">
    <ul class="og-i18n-flag--list">
        <li class="og-i18n-flag--element is-active" data-language="es">
            <span class="og-i18n-flag--element--svg">{{> atoms/svg/flags/ES}}</span>
            <span class="og-i18n-flag--element--text">Español</span>
        </li>
        <li class="og-i18n-flag--element" data-language="en">
            <span class="og-i18n-flag--element--svg">{{> atoms/svg/flags/UK}}</span>
            <span class="og-i18n-flag--element--text">English</span>
        </li>
    </ul>
</div>