<div class="l-slider og-image-slider">
    <ul class="l-slider-list">
        <li class="l-slider-item og-image-slider-element">

        </li>
        <li class="l-slider-item og-image-slider-element">

        </li>
    </ul>
</div>