<div class="l-slider og-image-slider">
    <ul class="l-slider-list">
        <li class="l-slider-item og-image-slider-element">
            <a href="#" style="background-image:url('https://plantasyflores.online/wp-content/uploads/2018/06/rosa-333187_640.jpg')">
                <h2>Enlace: Rosa Centifolia</h2>
            </a>
        </li>
        <li class="l-slider-item og-image-slider-element">
            <a href="#" style="background-image:url('https://plantasyflores.online/wp-content/uploads/2018/06/rosa-333187_640.jpg')">
                <h2>Enlace: Rosa Centifolia</h2>
            </a>
        </li>
    </ul>
</div>