{{#if navPages}}
    <section>
        <nav class="og-nav-tabs-fusion">
            <ul class="ul">
                {{#each navPages}}
                    <li class="tabs{{#equals this.slug ../this.activePageSlug}} is-active{{/equals}}">
                        <a href="{{this.slug}}" class="a">{{this.name}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </section>
{{/if}}
