<div class="l-inline-wrap l-inline-wrap--center u-margin-bottom">
    {{> molecules/menu/vertical src="/images/bonseo/wordpress-vertical.jpg" title="Wordpress"}}
    {{> molecules/menu/vertical src="/images/bonseo/seo-vertical.jpg" title="SEO"}}
    {{> molecules/menu/vertical src="/images/bonseo/agile-vertical.jpg" title="Planifica"}}
    {{> molecules/menu/vertical src="/images/bonseo/code-vertical.jpg" title="Programa"}}
</div>
