.og-banner-claim {
  position: relative;
  &-image {
    img {
      width: 100%;
      max-height: 150px;
    }
  }
  &-highlights {
    text-align: right;
    position: absolute;
    @extend .a-size-text;
    top: 0;
    right: 0;
    padding: 10px;
    color: $secondary-color-text;
    h2 {
      margin: 5px 0;
      @extend .a-size-h1;
      font-weight: bold;
      color: $primary-color-light;
    }
  }
}