.ml-cards-plant-type {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  &-element {
    border: 1px solid $primary-color;
    padding: 10px;
    margin: 5px 5px;
    max-width: 30%;
    box-shadow: 0px 3px 6px rgba($mono-color-8, 0.16), 0px 3px 6px rgba($mono-color-8, 0.23);
    border-radius: 5px;
    &-svg {
      width: 100px;
      height: 100px;
      svg {
        width: 100px;
        height: 100px;
      }
    }
    &-text {

    }
  }
}


@media only screen and (max-width: 720px) {
  .ml-cards-plant-type {
    &-element {
      max-width: 100%;
      &-svg {
        width: 70px;
        height: 70px;
        svg {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}