.og-slider-upper-tabs {
  ul {
    padding-left: 0 !important;
  }
  &-navigation {
    display: flex;
    position: relative;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-tab {
      flex: 1;
      height: 60px;
      min-width: 100px;
      border-radius: 4px 4px 0 0;
      background-color: $mono-color-1;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      &.is-active {
        background-color: $secondary-color;
        font-weight: bold;
        color: $mono-color-0;
      }
    }
  }
  &-list {
    &-title {
      text-transform: capitalize;
    }
    &-content {
      flex: 1;
      list-style-type: none;
      white-space: nowrap;
      transition: transform 2s ease-in-out;
      overflow-x: auto;
      display: flex;
      align-items: flex-start;
      height: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      &-element {
        border-top: 1px solid $secondary-color;
        display: inline-block;
        white-space: initial;
      }
    }
  }
  &--dotted {
    .og-slider-upper-tabs-navigation {
      &-tab {
        padding-top: 10px;
        &::after {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $mono-color-1;
          display: block;
          margin: 0 auto;
          transition: .6s background;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10px;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #c6c6c6;
          position: absolute;
          left: 0;
          bottom: 16px;
          z-index: 1;
          transition: .6s background;
        }
        &.is-active {
          color: inherit;
          background-color: inherit;
          &::before,
          &::after {
            background-color: $secondary-color;
          }
        }
        &:first-child {
          &::before {
            width: 50%;
            left: 50%;
          }
        }
        &:last-child {
          &::before {
            width: 50%;
          }
        }
      }
    }
  }
  &--squared {
    @extend .og-slider-upper-tabs--dotted;
    .og-slider-upper-tabs-navigation {
      &-tab {
        &::after {
          border-radius: 0;
        }
      }
    }
  }
}