.ml-cards-plants-colors {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  &-heading-main {

  }
  .ml-cards-plants-colors-wrapper {
    display: flex;
    margin: 0 auto;
  }
  .ml-cards-plants-colors-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    &-heading {
      width: 100%;
      text-align: center;
      padding: 0 !important;
      font-weight: bold;
    }
  }
  .color {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
    &--amarilla {
      background-color: $a-yellow;
    }
    &--rosa {
      background-color: $a-pink;
    }
    &--blanca {
      background-color: $a-white;
    }
    &--naranja {
      background-color: $a-orange;
    }
    &--azul {
      fill: $a-blue;
      background-color: $a-blue;
    }
    &--multicolor {
      fill: $a-rainbow;
      linearGradient: $a-rainbow;
      background-color: $a-rainbow;
    }
    &--roja {
      background-color: $a-red;
    }
    &--verde {
      background-color: $a-green;
    }
    &--morada {
      background-color: $a-purple;
    }
    &--marron {
      background-color: $a-brown;
    }
    &--dorada {
      background-color: $a-gold;
    }
    &--negra {
      background-color: $a-black;
    }
  }
}