<form class="{{formClass}}" action="{{endpoint}}" method="POST">
    <fieldset>
        <legend>
            Add Images
        </legend>
        <input name="file" type="file"/>
    </fieldset>
    {{> atoms/input/submit modifier=""  text="Save"}}
</form>


<button>call uploadImage() with angular/vue/react/etc</button>