<div class="og-board-game-tetra">
    <div class="og-board-game-tetra-deck">Enemy</div>
    <div class="og-board-game-tetra-play-area">
        {{#times height}}
            {{> components/gamification/board/row height=@index width=width}}
        {{/times}}
    </div>
    <div class="og-board-game-tetra-deck">Yours
        {{> components/gamification/board/card/content}}
    </div>
</div>