.ml-cards-separation {
  &-image {
    padding: 20px;
    svg {

    }
  }
}

@media only screen and (max-width: 720px) {
  .ml-cards-separation {
    &-image {
      max-width: 100%;
      svg {
        width: 200px;
        height: 150px;
      }
    }
  }
}