<div class="og-breadcrumbs-arrow">
    <a href="" class="og-breadcrumbs-arrow-home text">Inicio</a>
    <div class="text">&gt;</div>
    <a href="" class="og-breadcrumbs-arrow-parent text">Tomate</a>
    <div class="text">&gt;</div>
    <div class="og-breadcrumbs-arrow-active text">Rosa</div>
</div>