.ml-cards-nutritional {
  &-main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    &-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    }
    &-image {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      font-weight: bold;
      &-value  {

      }
      &-unity {

      }
    }
  }
  &-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &-list {
      text-align: left;
      padding: 0 10px;
      list-style: none;
      span:nth-child(odd) {
        font-weight: bold;
      }
    }
    &-vitamine {
      padding: 0 10px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      &-image {
        width: 100px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &-list {
        list-style: none;
        margin-top: 10px;
        max-width: 150px;
        li {
          padding: 5px;
          margin: 1px;
          border: 1px dashed $primary-color-dark;
          border-radius: 5px;
          display: inline-block;
          background-color: $mono-color-1;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .ml-cards-nutritional {
    &-main {
      &-container {
      }
      &-image {
        width: 75px;
        height: 75px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        &-value  {

        }
        &-unity {

        }
      }
    }
    &-secondary {
      &-list {
        span:nth-child(odd) {
        }
      }
      &-vitamine {
        &-image {

        }
        &-list {
        }
      }
    }
  }
}


