<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px"
     height="100px" viewBox="0 0 100 100" version="1.1">
    <title>star</title>
    <defs>
        <path d="M99.8847221,37.245181 C100.019213,37.7970934 100.036024,38.3579075 99.9351562,38.9098199 C99.834288,39.470634 99.5905232,39.9602337 99.1954561,40.3786188 L78.0131369,62.802283 L83.3339337,96.4956411 C83.4011792,97.0564553 83.3507451,97.6083676 83.1910371,98.1691817 C83.0229235,98.7210941 82.7119133,99.1394792 82.2496007,99.4154354 C81.9890246,99.5578644 81.7284484,99.6824898 81.4678723,99.7804097 C81.1988904,99.8872314 80.9046916,99.9406423 80.57687,99.9406423 C80.3835393,99.9406423 80.1649915,99.9228387 79.9380381,99.8872314 C79.7110847,99.8516242 79.492537,99.7626061 79.2992063,99.6290789 L50.0390264,82.7245381 L20.7872522,99.6290789 C20.3249397,99.9050351 19.8205987,100.02966 19.257418,99.9940532 C18.702643,99.9584459 18.2235191,99.7626061 17.828452,99.4154354 C17.433385,99.1394792 17.1391861,98.7210941 16.9458554,98.1691817 C16.744119,97.6083676 16.6852792,97.0564553 16.744119,96.4956411 L21.9640477,62.802283 L0.790134131,40.3786188 C0.462312523,39.9602337 0.235359103,39.4884376 0.100868187,38.9632307 C-0.033622729,38.4469256 -0.033622729,37.9039151 0.100868187,37.3520028 C0.235359103,36.7911886 0.512746617,36.3371962 0.941436411,35.9900256 C1.36172052,35.6428549 1.84084441,35.4381132 2.36199671,35.3668987 L34.2783722,29.6341319 L47.483699,1.5667189 C47.7442751,1.08602105 48.1057195,0.703243141 48.568032,0.41838516 C49.0219388,0.142428991 49.5178741,0 50.0390264,0 C50.5685844,0 51.0561139,0.142428991 51.5184265,0.41838516 C51.980739,0.703243141 52.3421833,1.08602105 52.6027595,1.5667189 L65.7996806,29.6341319 L97.6151879,35.260077 C98.1447458,35.3312915 98.6238697,35.544935 99.0441538,35.8921056 C99.4728436,36.2392763 99.7502312,36.6932687 99.8847221,37.245181"
              id="offerStar"/>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
        <g id="offerStar">
            <mask id="mask-2">
                <use xlink:href="#offerStar"/>
            </mask>
            <use id="Estrella" xlink:href="#offerStar"/>
        </g>
    </g>
</svg>