$primary-color: #4CAF50;
$primary-color-dark: #388E3C;
$primary-color-light: #C8E6C9;
$primary-color-text: #FFFFFF;

$secondary-color: #4CAF50;
$secondary-color-dark: #388E3C;
$secondary-color-light: #C8E6C9;
$secondary-color-text: #FFFFFF;

$divider-color: #BDBDBD;
$accent-color: #CDDC39;

