$primary-color: #1F6521;
$primary-color-dark: #1F2605;
$primary-color-light: #53900F;
$primary-color-text: #FFFFFF;

$secondary-color: #A4A71E;
$secondary-color-dark: #1F2605;
$secondary-color-light: #D6CE15;
$secondary-color-text: #FFFFFF;

$divider-color: #BDBDBD;
$accent-color: #CDDC39;








