$secondary-color-dark: #0097A7;
$secondary-color: #00BCD4;
$secondary-color-light: #B2EBF2;
$secondary-color-text: #FFFFFF;

$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;

$accent-color: #03A9F4;
$divider-color: #BDBDBD;

