.ml-imagebox {
  border: 1px solid $primary-color;
  &:first-child {
    margin-top: 10px;
  }

  .image-label {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &--facebook {
      background-image: url($image-social-twitter);
    }
    &--twitter {
      background-image: url($image-social-twitter);
    }
    &.is-active {
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
    }
  }

}