<div id="{{anchor}}" class="l-content u-bg-white">
    {{> components/blog/intro
            title="Qué es el Tomate Rosa"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam pellentesque viverra tristique.
        Nullam posuere quam ut malesuada elementum.
        Nulla commodo egestas lectus, quis euismod metus rhoncus at.
        Donec nec tempor sapien. Etiam placerat lacus vitae finibus lobortis.
        Phasellus mollis diam et nisi malesuada rutrum."
    }}

    {{> components/blog/description/thorns}}
    {{> components/blog/description/size}}
    {{> components/blog/description/color}}
    {{> components/blog/description/origin}}
    {{> components/blog/description/pollen}}
    {{> components/blog/description/flavor}}
    {{> components/blog/description/type}}
    {{> components/blog/description/ilegal}}
    {{> components/blog/description/variety}}
</div>











