<div id="{{anchor}}" class="l-content u-bg-purple">
    {{> components/blog/intro
            title="Simbolismo del Tomate Rosa"
            text="Por su tradición, historia y costumbres, las variedades de plantas y flores van acumulando significado y está no es una excepción."
    }}
    {{> components/blog/meaning/terrenal}}
    {{> components/blog/meaning/spiritual}}
    {{> components/blog/meaning/gift}}
</div>