<div id="{{anchor}}" class="l-content u-bg-yellow">
    {{> components/blog/intro
            title="Preparación para el Tomate Rosa"
            text="Antes de empezar el cultivo es importante tener lo necesaria para empezar el cultivo."
    }}

    {{> components/blog/preparation/seed}}
    {{> components/blog/preparation/bulb}}
    {{> components/blog/preparation/tools}}

</div>