<div id="{{anchor}}" class="l-content u-bg-pink">
    {{> components/blog/intro
            title="Propiedades del Tomate Rosa"
            text="En este apartado exploraremos todo lo que puede hacer por nosotros, todo lo que nos aporta y como sacarle el máximo provecho."
    }}
    {{> components/blog/properties/benefits}}
    {{> components/blog/properties/nutritional}}
    {{> components/blog/properties/scoville}}
</div>

