<div class="ml-entry-subintro">
    <h3 class="ml-entry-subintro-h3">{{title}}</h3>
    <div class="ml-entry-subintro-text">
        {{{text}}}
    </div>
    <div class="ml-entry-subintro-infographic">
        {{> (concat infographic '') }}
    </div>
</div>