<div id="{{anchor}}" class="l-content u-bg-blue">
    {{> components/blog/intro
            title="Utilidades del Tomate Rosa"
            text="Tiene multitud de usos, entre ellos, los más destacos son:"
    }}
    {{> components/blog/use/edible}}
    {{> components/blog/use/gastronomy}}
    {{> components/blog/use/cosmetics}}
    {{> components/blog/use/repellent}}
    {{> components/blog/use/decoration}}
</div>