{{> components/message/full
        modifier="error"
        title="Peligro Espinas"
        description="Esta variedad de planta puede tener espinas que puede dañar tu piel. <a class=\"a\" href=\"\">Usa siempre guantes para manipularla.</a>"
        svg="cactus"
}}