<article id="post-126" class="og-article-minimalist ml-heading-minimalist">
    <div class="post-thumbnail">
        <img src="https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18.jpg"
             class="image"
             alt="rosa roja"
             srcset="https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18.jpg 1280w,
                  https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18-300x168.jpg 300w,
                  https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18-768x431.jpg 768w,
                  https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18-1024x574.jpg 1024w,
                  https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18-1088x610.jpg 1088w,
                  https://plantasyflores.online/wp-content/uploads/2017/07/rosa-18-800x449.jpg 800w"
             sizes="(max-width: 1088px) 100vw, 1088px">
    </div>
    <header class="entry-header">
        <h1 class="entry-title">Rosa</h1>
    </header>
    <div class="entry-content content">
        <p>
            La <strong>Rosa</strong> es la delicada flor, esa reina del jardín y también una guerrera
            llena de espinas, si quieres darle a tu jardín un toque elegante y señorial no puede faltar
            en tu hogar.
        </p>
        <h2 class=""><span id="Que_es_la_Rosa">Qué es la Rosa</span></h2>
        <p>La rosa es<strong> la flor del rosal</strong>, la más famosa de todos los jardines en lo
            ancho y largo del mundo.</p>
        <h3><span id="Simbolismo">Simbolismo</span></h3>
        <p>Quizá su fama sea debida a que es conocida como el símbolo del amor, hasta los más romántico
            defienden que tiene la forma de un corazón. Y como el amor tiene espinas que hacen daño.</p>
        <h3><span id="Habitat_o_donde_se_encuentran">Hábitat o dónde se encuentran</span></h3>
        <p>Son las flores más conocidas del mundo y se cultivan alrededor del globo. Se encuentran en
            todos lados. Si nos remontamos al pasado, son originarias de Asia y es desde allí desde
            donde se extendieron a todas las partes de la tierra.</p>
        <h3><span id="Tipos_y_variedades">Tipos y variedades</span></h3>
        <p>Descubre tu variedad favorita y todas sus características:</p>
        <div class="_template" data-template="components/menu/imageGallery"></div>
        <h3><span id="Encontrar_la_Rosa_negra_o_la_Azul">Encontrar la Rosa negra o la Azul</span></h3>
        <p>Las flores negras y azules tienen un origen muy diferente. Aunque podamos pensar que las
            negras son más “artificiales”, la verdad es que es al contrario.</p>
        <p>Al final del todo del artículo te he puesto unos enlaces para que puedas tener tus propias
            semillas de estas variedades así como de otras.</p>
        <figure id="attachment_417" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-21.jpg"
                class="no-line"><img class="wp-image-417"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-21-300x200.jpg"
                                     alt="Rosa negra" width="325" height="217"></a>
            <figcaption class="wp-caption-text">Originaria de Halfeti</figcaption>
        </figure>
        <h4>La variedad negra (o de <a href="https://en.wikipedia.org/wiki/Halfeti" target="_blank"
                                       rel="noopener">Halfeti</a>)</h4>
        <p>Se encuentran en una aldea de Turquía que gracias a sus condiciones particulares hacen crecer
            este tipo de rosa, cosas de las tierras y el agua que las hace crecer.</p>
        <figure id="attachment_413" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-17.jpg"
                class="no-line"><img class="wp-image-413"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-17-300x199.jpg"
                                     alt="Rosa artificial azul" width="325" height="215"></a>
            <figcaption class="wp-caption-text">Ciencia al servicio de marketing</figcaption>
        </figure>
        <h4>La variedad azul</h4>
        <p>Se encuentran en los laboratorios, sí, son creaciones hechas por alteraciones genéticas y
            para darle otra vuelta más de marketing a esta explotada florecilla.</p>
        <h2><span id="Como_cultivar_Rosa">Cómo cultivar Rosa</span></h2>
        <p>A pesar de ser unas de las más populares empezar un jardín puede ser un poco desalentador
            para la gente que empieza. Pero no tienen que estresarte porque si sigues los cuidados
            apropiados puedes convertirte en todo un jardinero/a experto/a.</p>
        <figure id="attachment_404" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-8.jpg"
                class="no-line"><img class="wp-image-404"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-8-300x225.jpg"
                                     alt="Pálidas flores rosas rojas" width="325" height="244"></a>
            <figcaption class="wp-caption-text">Pálidas flores rojas</figcaption>
        </figure>
        <h3><span id="Cuando_plantar">Cuándo plantar</span></h3>
        <p>La <strong>época de plantación</strong> coincide con la<strong> primavera</strong> a mediados
            de <strong>Marzo</strong> y <strong>Abril.&nbsp;</strong>Si nuestro clima es más caluroso,
            intentaremos plantarlas antes. Si es más frío, nuestro mes será Abril.</p>
        <figure id="attachment_405" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-9.jpg"
                class="no-line"><img class="wp-image-405"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-9-300x224.jpg"
                                     alt="cultivo de rosas" width="325" height="242"></a>
            <figcaption class="wp-caption-text">Cultivo de flores</figcaption>
        </figure>
        <h3><span
                id="Donde_cultivar_plantar_o_hacerla_crecer">Dónde cultivar, plantar o hacerla crecer</span>
        </h3>
        <p>Como tenemos una amplísima variedad de tipos de esta flor, podemos encontrar esa que nos
            llene el vacío que tenemos y queremos llenar. Por lo tanto, se pueden cultivar <a
                    href="http://www.plantasyflores.online/plantas-de-interior/">en interiores</a> y <a
                    href="http://www.plantasyflores.online/plantas-de-interior/">en exteriores</a>.</p>
        <p>Pero centrémonos en la más común, aquella que nos será más fácil de conseguir. Esta flor
            necesita un clima cálido y una fuente de luz constante. Una tierra rica en nutrientes hará
            que crezca más bella, con más fuerza y con un color más vibrante.</p>
        <figure id="attachment_403" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-7.jpg"
                class="no-line"><img class="wp-image-403"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-7-300x200.jpg"
                                     alt="Rosas rosas rosal" width="325" height="217"></a>
            <figcaption class="wp-caption-text">Flores en vertical</figcaption>
        </figure>
        <h3><span id="Cuanto_tarda_en_crecer">Cuánto tarda en crecer</span></h3>
        <p>Son unas flores que crecen bastante deprisa. Las plantaremos en primavera y las
            recolectaremos en verano. Cuando las recolectemos, nos aseguraremos de hacer un corte
            inclinado para dejar paso a las nuevas generaciones.</p>
        <div class="_template" data-template="components/social/clickToTweet"></div>
        <figure id="attachment_402" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-6.jpg"
                class="no-line"><img class="wp-image-402"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-6-300x200.jpg"
                                     alt="Crecimiento de flor" width="325" height="217"></a>
            <figcaption class="wp-caption-text">Crecimiento de flor</figcaption>
        </figure>
        <h3><span id="Etapas_de_crecimiento">Etapas de crecimiento</span></h3>
        <p>Las etapas son las que podemos deducir:</p>
        <p>La primera etapa es cuando la plantamos y tenemos un pequeño brote verde.</p>
        <p>A esta etapa la seguirá la de crecimiento hasta justo antes de empezar a florecer.</p>
        <div class="google-auto-placed ap_container"
             style="text-align: center; width: 100%; height: auto; clear: none;">
            <ins data-ad-format="auto" class="adsbygoogle adsbygoogle-noablate"
                 data-ad-client="ca-pub-1623099484223246" data-adsbygoogle-status="done"
                 style="display: block; margin: auto; background-color: transparent;">
                <ins id="aswift_1_expand"
                     style="display:inline-table;border:none;height:200px;margin:0;padding:0;position:relative;visibility:visible;width:881px;background-color:transparent;">
                    <ins id="aswift_1_anchor"
                         style="display:block;border:none;height:200px;margin:0;padding:0;position:relative;visibility:visible;width:881px;background-color:transparent;">
                        <iframe width="881" height="200" frameborder="0" marginwidth="0"
                                marginheight="0" vspace="0" hspace="0" allowtransparency="true"
                                scrolling="no" allowfullscreen="true"
                                onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                                id="aswift_1" name="aswift_1"
                                style="left:0;position:absolute;top:0;width:881px;height:200px;"></iframe>
                    </ins>
                </ins>
            </ins>
        </div>
        <p>Después está la etapa de florecimiento. Si al recolectar las rosas lo hacemos de manera
            adecuada, en la próxima vez del tallo nacerá la rosa y nos evitaremos la primera fase de
            este ciclo.</p>
        <figure id="attachment_415" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-19.jpg"
                class="no-line"><img class="wp-image-415"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-19-300x225.jpg"
                                     alt="Muchísimas rosas" width="325" height="244"></a>
            <figcaption class="wp-caption-text">Muchas flores en vertical</figcaption>
        </figure>
        <h3><span id="Como_injertar">Cómo injertar</span></h3>
        <p>Este proceso asusta a muchas personas, pero la realidad es que es bastante simple y lógico si
            somos capaces de abstraernos lo suficiente, ahora lo entenderéis.</p>
        <ul>
            <li>La primera parte es hacer una “herida” o “hendidura” a la planta a la que le vamos a
                injertar la yema de otra planta. Una yema es un trozo de planta donde brotan las hojas.
                Para este proceso hay que tener instrumental limpio o esterilizado.
            </li>
            <li>La segunda parte es unir la yema de la planta que queremos injertar a la que lo va a
                recibir, es importante mantenerlas unidas con una cuerda o algún tipo de vendaje como si
                de una herida se tratara. Evitaremos a toda costa la humedad al regarla en esa zona.
            </li>
            <li>Y ya está, al final el injerto se unirá a la flor y habremos acabado.</li>
        </ul>
        <h3><span id="Trasplantar_rosales">Trasplantar rosales</span></h3>
        <p>La época de trasplante de rosales es en otoño justo después de recolectar nuestras rosas de
            verano. Para ello no hay que seguir un proceso especial, sólo tener cuidado en no dañar la
            planta cuando la cambiemos de maceta. Es importante cubrir bien las raíces. Incluso al
            principio podemos sobreprotegerlas haciendo una montaña de tierra alrededor y poco a poco ir
            allanándole cuando veamos que el rosal ha aceptado su nuevo hogar.</p>
        <figure id="attachment_398" style="width: 201px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-2.jpg"
                class="no-line"><img class="size-medium wp-image-398"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-2-201x300.jpg"
                                     alt="Espinas de rosal" width="201" height="300"></a>
            <figcaption class="wp-caption-text">Espinas</figcaption>
        </figure>
        <h2><span id="Otra_informacion_de_Interes_sobre_la_Rosa">Otra información de Interés sobre la Rosa</span>
        </h2>
        <p>De esta planta podremos hablar durante mucho tiempo, tiene un montón de curiosidades y de
            información que nos puede ser muy útil, como por ejemplo…</p>
        <h3><span id="Como_tocar">Cómo tocar</span></h3>
        <p>¡Ponte guantes! Es esencial para evitar cualquier tipo de herida que se pueda complicar con
            una infección. A veces el cuidado no es suficiente y las espinas son muy traicioneras.</p>
        <figure id="attachment_399" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-3.jpg"
                class="no-line"><img class="wp-image-399"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-3-300x169.jpg"
                                     alt="Rosas eternas" width="325" height="183"></a>
            <figcaption class="wp-caption-text">Flor eterna</figcaption>
        </figure>
        <h3><span id="La_variedad_que_no_muere_ni_se_marchita_o_ni_se_pudre">La variedad que no muere, ni se marchita o ni se pudre</span>
        </h3>
        <p>O también las llamadas Eternas se consiguen con una técnica que cambia el líquido interno por
            una mezcla de glicerina para preservarlas frescas y como el primer día.</p>
        <figure id="attachment_89" style="width: 199px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-primer-plano-creciendo.jpg"
                class="no-line"><img class="size-medium wp-image-89"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-primer-plano-creciendo-199x300.jpg"
                                     alt="rosa marchitandose" width="199" height="300"></a>
            <figcaption class="wp-caption-text">Flor azúcarada</figcaption>
        </figure>
        <h3><span id="El_azucar_prolonga_la_vida">El azúcar prolonga la vida</span></h3>
        <p>Si añadimos azúcar al agua donde tenemos nuestras flores decorativas, tendremos unos días más
            de su cautivadora presencia. No es gran cosa, pero cualquier minuto es un regalo de aroma y
            frescor.</p>
        <figure id="attachment_406" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-10.jpg"
                class="no-line"><img class="wp-image-406"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-10-300x225.jpg"
                                     alt="Rosa sin espinas" width="325" height="244"></a>
            <figcaption class="wp-caption-text">Sin espinas</figcaption>
        </figure>
        <h3><span id="Sin_espinas">Sin espinas</span></h3>
        <p>Hay multitud de variedades de flores sin espinas que si al final hemos decidido que no nos
            queremos poner guantes bajo ningún concepto. Estas nos harán un favor.</p>
        <hr>
        <figure id="attachment_247" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/herbal-tea-1410565_1280.jpg"
                class="no-line"><img class="wp-image-247"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/herbal-tea-1410565_1280-300x187.jpg"
                                     alt="Plantas Medicinales" width="325" height="202"></a>
            <figcaption class="wp-caption-text">Plantas Medicinales</figcaption>
        </figure>
        <h2><span id="Beneficios_y_propiedades_de_la_Rosa">Beneficios y propiedades de la Rosa</span>
        </h2>
        <p>Las princesas del jardín no se escapan a los beneficios y propiedades terapéuticos de las
            plantas y para muestra os citamos algunas de las capacidades de esta flor.</p>
        <ul>
            <li>Ayuda a la piel protegiéndola del sol, del acne y la suaviza</li>
            <li>Libera toxinas del cuerpo</li>
            <li>Alivia los dolores de cabeza</li>
            <li>Estabiliza el estómago</li>
        </ul>
        <figure id="attachment_397" style="width: 325px" class="wp-caption aligncenter"><a
                href="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-1.jpg"
                class="no-line"><img class="wp-image-397"
                                     src="http://www.plantasyflores.online/wp-content/uploads/2017/07/rosa-1-300x187.jpg"
                                     alt="Agua de rosas" width="325" height="202"></a>
            <figcaption class="wp-caption-text">Agua de flor</figcaption>
        </figure>
        <h2><span id="Agua_de_Rosa">Agua de Rosa</span></h2>
        <p>No es más que un té de estas flores, ponemos los pétalos a hervir y cuidando el fuego, cuando
            hierva bajamos la intensidad y dejamos infusionar hasta que hayamos extraído la suficiente
            esencia (o sabor) o hasta que veamos que la flor no dé más de sí.</p>
        <p>&nbsp;</p>
        <h2><span id="Pasa_a_la_accion">Pasa a la acción</span></h2>
        <p>Ahora que ya sabes todo lo necesario lo que tienes que hacer es ponerte a plantar tu primera
            semilla de la variedad de Rosa que más te guste:</p>
        <div class="author-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="author-avatar" style="background-url()"><img alt=""
                                 src="https://secure.gravatar.com/avatar/2e3247269841b1b9d64921c6fc704975?s=96&amp;d=mm&amp;r=g"
                                 srcset="https://secure.gravatar.com/avatar/2e3247269841b1b9d64921c6fc704975?s=192&amp;d=mm&amp;r=g 2x"
                                 class="avatar avatar-96 photo"
                                 height="96" width="96">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="">Escrito orgullosamente por</div>
                    <div class="author-title"><span class="author-name"> JardineraAmable </span></div>
                    <div class="author-socialmedia">
                        <ul id="author-socialmedia-elements">
                            <li style="background-image:url('/wp-content/plugins/seo-author-social/social-images/facebook.png')">
                                <a href="http://www.facebook.es/JardineraAmable/"></a></li>
                            <li style="background-image:url('/wp-content/plugins/seo-author-social/social-images/instagram.png')">
                                <a href="https://www.instagram.com/jardineraamable/"></a></li>
                            <li style="background-image:url('/wp-content/plugins/seo-author-social/social-images/twitter.png')">
                                <a href="https://twitter.com/JardineraAmable"></a></li>
                            <li style="background-image:url('/wp-content/plugins/seo-author-social/social-images/pinterest.png')">
                                <a href="https://www.pinterest.es/plantasyfloresonline"></a></li>
                            <li style="background-image:url('/wp-content/plugins/seo-author-social/social-images/google-plus.png')">
                                <a href="https://plus.google.com/communities/101559261730088853912"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="at-below-post-page addthis_tool"
             data-url="https://plantasyflores.online/rosa/"></div>
    </div>
    <footer class="entry-footer"></footer>
</article>