<div class="l-inline-wrap">
    {{> molecules/icon/text
            text="Crecimiento en Buscadores"
            title="SEO"
            src="/images/bonseo/brand-seo.png"
    }}
    {{> molecules/icon/text
            text="Aplicaciones y Web Rápidas"
            title="Velocidad"
            src="/images/bonseo/brand-speed.png"
    }}
    {{> molecules/icon/text
            text="Expertos en Plugins y Temas Personalizados"
            title="Desarrollo"
            src="/images/bonseo/brand-wordpress.png"
    }}
    {{> molecules/icon/text
            text="Web muy ligeras para Smartphones"
            title="Ligereza"
            src="/images/bonseo/brand-feather.png"
    }}
    {{> molecules/icon/text
            text="Cursos para todos los niveles"
            title="Formación"
            src="/images/bonseo/brand-learning.png"
    }}
    {{> molecules/icon/text
            text="Estrategia y Explotación de Redes Sociales"
            title="SocialMedia"
            src="/images/bonseo/brand-socialmedia.png"
    }}
</div>