
.avatar {
  object-fit: cover;
  &--small {
    width: 100px;
    height: 100px;
  }
  &--medium {
    width: 150px;
    height: 150px;
  }
  &--rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &.is-active {
    box-shadow: 0 0 0 2px white, 0 0 0 5px $primary-color-light;
  }
}