.og-notification-classic {
  position: fixed;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  .og-notification-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
    .og-notification-text {
      font-size: 0.9rem;
      align-self: center;
      button {
        display: flex;
        flex-direction: row;
        justify-content: start;
      }
      svg {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        padding-right: 2px;
        fill: $primary-color-text;
      }
      p {
        margin-bottom: 5px;
        align-self: center;
      }
    }
  }

  &--primary {
    background-color: $mono-color-0;
    color: $secondary-color-text;
  }
  &--secondary {
    background-color: $primary-color;
    color: $primary-color-text;
  }

  &--modern {
    border-radius: 0 15px 0 0;
  }

}