<div class="og-block-resume">
    <div class="og-block-resume-image"
         style="background-image:
         url('http://fotos.larioja.com/200911/lastccan412-640x640x80.jpg')">
    </div>
    <h3 class="og-block-resume-title">
        <a href="#">$post->post_name</a>
    </h3>
    <div class="og-block-resume-content">
        <p>
            ¿Adoras la naturaleza? ¿Quieres combinarlo con pequeños pueblos que parecen sacados de un cuento de hadas
            con un ambiente acogedor y cargado de historia?
        </p>
        <ul class="og-block-resume-content-links">
            <li class="og-block-resume-content-links-element"><h4><a href="#">Sample 1</a></h4></li>
            <li class="og-block-resume-content-links-element"><h4><a href="#">Sample 1</a></h4></li>
            <li class="og-block-resume-content-links-element"><h4><a href="#">Sample 1</a></h4></li>
            <li class="og-block-resume-content-links-element"><h4><a href="#">Sample 1</a></h4></li>
            <li class="og-block-resume-content-links-element"><h4><a href="#">Sample 1</a></h4></li>


        </ul>
    </div>
    <a href class="og-block-resume-cta">
        Leer Más
    </a>
</div>