<div class="card-container">
    <div class="card-background">
        <div class="card-frame">
            <div class="frame-header">
                <h1 class="name">Vivi</h1>
                <i class="ms ms-g" id="mana-icon"></i>
            </div>

            <img class="frame-art"
                 src="https://addons-media.operacdn.com/media/CACHE/images/themes/85/47385/1.0-rev1/images/0afaf1b4-b834-40e3-9bfb-a4ea9778b00b/ef96c2c20feab27486e8b170157607fb.jpg" alt="nissa art">

            <div class="frame-type-line">
                <h1 class="type">Assault Card</h1>
                <img src="https://vignette.wikia.nocookie.net/pirates-of-everseas/images/b/b2/Pumpkin-hell-sword-icon.png/revision/latest?cb=20161013142353" id="set-icon" alt="OGW-icon">
            </div>
        </div>

    </div>

</div>