<div class="og-logo-inline">
    <picture class="og-logo-inline-image">
        <img class="u-image-full"
             src="/images/bonseo/logo.png"/>
    </picture>
    <nav class="og-logo-inline-navigation">
        <a href="" class="og-logo-inline-navigation-link">servicios</a>
        <a href="" class="og-logo-inline-navigation-link">útiles</a>
        <a href="" class="og-logo-inline-navigation-link">nosotros</a>
        <a href="" class="og-logo-inline-navigation-link">testimonios</a>
        <a href="" class="og-logo-inline-navigation-link">hazlo tú mismo</a>

    </nav>
</div>