<div class="og-logo-navigation">
    <div class="og-logo-navigation-brand">
        <div class="og-logo-navigation-brand-prepend">P</div>
        <div class="og-logo-navigation-brand-image">
            {{> atoms/svg/logo/pyf}}
        </div>
        <div class="og-logo-navigation-brand-append">F</div>
    </div>
    <nav class="og-logo-navigation-navigation">
        <a href="#description" class="og-logo-navigation-brand-anchor">Descripción</a>
        <a href="#preparation" class="og-logo-navigation-brand-anchor">Preparación</a>
        <a href="#grow" class="og-logo-navigation-brand-anchor">Cultivo</a>
        <a href="#properties" class="og-logo-navigation-brand-anchor">Propiedades</a>
        <a href="#use" class="og-logo-navigation-brand-anchor">Usos</a>
        <a href="#meaning" class="og-logo-navigation-brand-anchor">Significado</a>
    </nav>
</div>