<div class="og-logo-inline u-layer-5">
    <picture class="og-logo-inline-image">
        <img class="u-image-full"
             src="/images/bonseo/logo.png"/>
    </picture>
    <nav class="og-logo-inline-navigation">
        <a href="" class="a og-logo-inline-navigation-link">servicios</a>
        <a href="" class="a og-logo-inline-navigation-link">útiles</a>
        <a href="" class="a og-logo-inline-navigation-link">nosotros</a>
        <a href="" class="a og-logo-inline-navigation-link">aprende</a>
    </nav>
</div>