.og-breadcrumbs-arrow {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  .text {
    padding-right: 5px;
  }
  &-home {
    
  }
  &-parent {
  }
  &-active {
    font-weight: bold;

  }
  a {
    text-decoration: underline;
  }
  a:hover {
    font-weight: normal;
  }
}