<div class="ml-cards-benefits">
    <div class="ml-cards-benefits-container">
        <div class="ml-cards-benefits-image">
            {{> atoms/svg/properties/health}}
        </div>
        <div class="ml-cards-benefits-list">
            <h4>Para la salud</h4>
            <span>Respiraci贸n</span>
            <span>Diabetes</span>
            <span>Endorfinas</span>
            <span>Laxante</span>
        </div>
    </div>
    <div class="ml-cards-benefits-container">
        <div class="ml-cards-benefits-image">
            {{> atoms/svg/properties/bandage}}
        </div>
        <div class="ml-cards-benefits-list">
            <h4>Para la salud</h4>
            <span>Respiraci贸n</span>
            <span>Diabetes</span>
            <span>Endorfinas</span>
            <span>Laxante</span>
        </div>
    </div>
    <div class="ml-cards-benefits-container">
        <div class="ml-cards-benefits-image">
            {{> atoms/svg/properties/pill}}
        </div>
        <div class="ml-cards-benefits-list">
            <h4>Para la salud</h4>
            <span>Respiraci贸n</span>
            <span>Diabetes</span>
            <span>Endorfinas</span>
            <span>Laxante</span>
        </div>
    </div>
    <div class="ml-cards-benefits-container">
        <div class="ml-cards-benefits-image">
            {{> atoms/svg/properties/dna}}
        </div>
        <div class="ml-cards-benefits-list">
            <h4>Para la salud</h4>
            <span>Respiraci贸n</span>
            <span>Diabetes</span>
            <span>Endorfinas</span>
            <span>Laxante</span>
        </div>
    </div>
</div>