<div class="ml-cards-nutritional">
    <div class="ml-cards-nutritional-main">
        <div class="ml-cards-nutritional-main-container">
            <div class="ml-cards-nutritional-main-image">
                {{> atoms/svg/nutritional/calories}}
            </div>
            <h4 class="ml-cards-nutritional-main-text">
                <div class="ml-cards-nutritional-main-text-value">38 kcal</div>
                <div class="ml-cards-nutritional-main-text-unity">Calorías</div>
            </h4>
        </div>
        <div class="ml-cards-nutritional-main-container">
            <div class="ml-cards-nutritional-main-image">
                {{> atoms/svg/nutritional/hydrates}}
            </div>
            <h4 class="ml-cards-nutritional-main-text">
                <div class="ml-cards-nutritional-main-text-value">53 g</div>
                <div class="ml-cards-nutritional-main-text-unity">Hidratos de Carbono</div>
            </h4>
        </div>
        <div class="ml-cards-nutritional-main-container">
            <div class="ml-cards-nutritional-main-image">
                {{> atoms/svg/nutritional/protein}}
            </div>
            <h4 class="ml-cards-nutritional-main-text">
                <div class="ml-cards-nutritional-main-text-value">50 g</div>
                <div class="ml-cards-nutritional-main-text-unity">Proteínas</div>
            </h4>
        </div>
    </div>
    <div class="ml-cards-nutritional-secondary">
        <ul class="ml-cards-nutritional-secondary-list">
            <li>
                <span>Fibra</span>: <span>30g</span>
            </li>
            <li>
                <span>Colesterol</span>: <span>30g</span>
            </li>
            <li>
                <span>Fibra</span>: <span>30g</span>
            </li>
        </ul>
        <div class="ml-cards-nutritional-secondary-vitamine">
            <div class="ml-cards-nutritional-secondary-vitamine-image">
                {{> atoms/svg/nutritional/vitamin}}
            </div>
            <ul class="ml-cards-nutritional-secondary-vitamine-list">
                <li>B1</li>
                <li>A</li>
                <li>Omega</li>
                <li>B12</li>
            </ul>
        </div>
    </div>
</div>