<div class="ml-cards-scoville">
    <div class="ml-cards-scoville-image">
        {{> atoms/svg/nutritional/scoville}}
    </div>
    <div class="ml-cards-scoville-text">
        Se requieren <strong>300.000 vasos de agua para diluir todo el picante.</strong>
        Esta variedad se considera <strong>muy picante</strong>.
        No es una variedad para todos los paladares.
    </div>
</div>