.ml-float-menu {
  .menu {
    display: none;
  }
  .ml-float-menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $primary-color-text;
    transition: .6s all;
    bottom: 0;
    transform: translateY(-100%);
    position: fixed;
    .menu {
      display: flex;
    }
  }
  &.is-active {
    .ml-float-menu-wrapper {
      background-color: rgba($primary-color-dark, 0.95);
      transform: translateY(0);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h3 {
      font-size: 1.9rem;
      margin-bottom: 20px;
      border-bottom: 1px solid $secondary-color-light;
    }
    a {
      font-size: 20px;
      line-height: 38px;
      color: $primary-color-text;

    }
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 25%;
      a {
        font-size: 16px;
        line-height: 30px;
        border-bottom: 1px solid $secondary-color-light;
      }
    }

  }

  .ml-float-menu-button {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;

    span, svg{
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}