.l-content {
  border: 5px;
  &-layer{
    margin-bottom: 20px;
    &--slim, .content {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: $media-size-m) {
  .l-content {
    padding: 0;
  }
}

