$primary-color: red;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: white;

$secondary-color: black;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-text: red;

$divider-color: #BDBDBD;
$accent-color: #CDDC39;
$inner-shadow-color: $primary-color-dark;

$color-button-highlight: orange;

$media-size-sm: 380px;
$media-size-m: 768px;
$media-size-lm: 840px;
$media-size-l: 1200px;
$media-size-xl: 1400px;

@import "fonts/istok";









