$primary-color: #00778B;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$primary-color-text: $mono-color-9;

$secondary-color: #EF426F;
$secondary-color-dark: darken(#388E3C, 10%);
$secondary-color-light: lighten(#C8E6C9, 10%);
$secondary-color-text: white;

$divider-color: #ff3a51;
$accent-color: #fc6621;
$inner-shadow-color: $primary-color-dark;

$color-button-highlight: orange;

@import "fonts/lato";

