
$primary-color: #00a0f4;
$primary-color-dark: darken($primary-color, 10);
$primary-color-light: lighten($primary-color, 10);
$primary-color-text: #FFFFFF;

$secondary-color-dark: #0288D1;
$secondary-color: #03A9F4;
$secondary-color-light: #B3E5FC;
$secondary-color-text: #FFFFFF;

$accent-color: #03A9F4;
$divider-color: #BDBDBD;
$inner-shadow-color: black;
$inner-shadow-color: $primary-color-dark;

$color-button-highlight: orange;



