.ml-cards-flavor {
  display: flex;
  justify-content: center;
  align-items: center;
  &-element {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    &-title {
      font-weight: bold;
    }
    &-svg {
      border: 3px solid;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 70px;
        height: 70px;
      }
      &.sweet {
        border-color: red;
      }
      &.acid {
        border-color: yellowgreen;
      }
      &.spicy {
        border-color: darkred;
      }
      &.neutral, &.no-flavor {
        border-color: dimgrey;
      }
      &.bitter {
        border-color: mediumpurple;
      }
      &.bittersweet {
        border-color: orangered;
      }

    }
    &-type {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 720px) {
  .ml-cards-flavor {
    &-element {
      max-width: 100%;
      padding: 0 2px;
      &-svg {
        svg {
          width: 60px;
          height: 60px;
        }
      }

    }
  }
}