$a-yellow: #c3c344;
$a-pink: #ef6bde;
$a-white: #d8d8d8;
$a-orange: #ffa928;
$a-blue: #44d1f1;
$a-rainbow: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
$a-red: #fb4e4e;
$a-green: #9bf722;
$a-purple: #b80bff;
$a-brown: #ca9709;
$a-gold: #ffcf21;
$a-black: #08021f;
