<div class="og-image-claim">
    <div class="og-image-claim--image">
        <img
                src="http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg">
    </div>
    <div class="og-image-claim--additional">
        <h1 class="og-image-claim--h1">
            <div class="og-image-claim--h1--title">Todo sobre Cultivo y Cuidados del Tomate </div>
            <div class="og-image-claim--h1--claim">(y sus variedades)</div>
        </h1>
        <div class="og-image-claim--description">
            <span>This guide will help you learn SEO in record time.</span>
            <span>The best part?</span>
            <span><strong>Everything here applies to SEO in 2018.</strong></span>
            <span>(In other words: you don’t need to worry about reading out of date stuff)</span>
            <span>So without further ado, let’s get started…</span>
        </div>
    </div>
</div>