.og-fixed-summary-price {

  .og-fixed-summary-price-wrapper {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @extend .bg--primary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    .og-fixed-summary-price-value {
      order: 1;
      flex-grow: 1;
      text-align: center;
      .small {
        font-size: 10px;
      }

    }
    .og-fixed-summary-price-button {
      order: 2;
      flex-grow: 1;
      button {
        @extend .button;
        @extend .button--secondary;
        @extend .button--secondary--glow;
        @extend .button--tight;
        @extend .button--strong;
      }
      margin: 5px 0;

    }
    .og-fixed-summary-price-fold {
      order: 0;
      border-right: 1px solid;
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      max-width: 50px;
      button {
        @extend .button;
        @extend .button--primary;
        border-radius: 50%;
        border: 1px solid white;
        font-style: italic;
        font-family: initial;
        font-size: 20px;
        line-height: 20px;
        width: 30px;
        height: 30px;
      }
    }

  }

  .og-fixed-summary-price-unfold {
    transform: translateY(-100%);
  }

}

@media only screen and (min-width: $media-size-m) {
  .og-fixed-summary-price {
    display: none;
  }

}

