.button {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;

  &--s {
    padding: 0 5px;
  }

  &--l {
    padding: 10px 15px;
  }

  &--xl {
    padding: 20px 30px;
  }

  &--tight {
    padding: 10px 50px;
  }

  &--strong {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &--primary {
    background-color: $primary-color-dark;
    color:$primary-color-text;
    .a, .a:hover, .a:visited, .a:active{
      color:$primary-color-text;
    }
    &:hover {
      background-color: $primary-color;
    }
    //TODO: ATOMIZER
    &--glow {
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba($primary-color, 0.5);
      &:hover {
        box-shadow: 0 2px 25px rgba($primary-color, 1);
      }
    }
    &:active {
      transform: scale(0.9);
      background-color: darken($primary-color, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color:$primary-color-text;
    .a, .a:hover, .a:visited, .a:active{
      color:$primary-color-text;
    }
    &--glow {
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba($secondary-color, 0.5);
    }
    &:active {
      transform: scale(0.9);
      background-color: darken($secondary-color, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  }

  &--cta {
    background-color: $color-button-highlight;
    color:$primary-color-text;
    span {
      color:$primary-color-text;
    }
    &--glow {
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba($color-button-highlight, 0.5);
    }
    &:active {
      transform: scale(0.9);
      background-color: darken($color-button-highlight, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  }

  &--amazon {
    display:flex;
    justify-content: space-around;
    width: 125px;
    margin: 0 auto;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $mono-color-9;
    background-color: #FFEFC6;
    font-weight: bold;
  }


  &:focus {
    outline: 0;
  }



}