.og-board-game-tetra {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  .og-board-game-tetra-play-area {
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
    .ml-board-cell {
      height: 400px;
    }
  }
  .og-board-game-tetra-deck {

  }

}