.ml-cartoon-slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  .a-cartoon-square {
    &:first-child {
      animation: slide linear 4s infinite;
    }
    &:nth-child(2) {
      animation: slide linear 4s infinite;
    }
    &:nth-child(3) {
      animation: slide linear 4s infinite;
    }
    &:nth-child(4) {
      animation: slide linear 4s infinite;
    }
    &:nth-child(5) {
      animation: slide linear 4s infinite;
    }
    &:nth-child(6) {
      animation: slide linear 4s infinite;
    }
  }

}

@keyframes slide {
  0%, 100% {
    transform: translateX(-50px)
  }
  10%, 90% {
    transform: translateX(0px)
  }
  20%, 80% {
    transform: translateX(50px);
  }
  30%, 70%{
    transform: translateX(100px);
  }
  40%, 60% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(200px);
  }

}