.og-column-navigation {
  .og-column-navigation-title {
    border-bottom: 1px solid #4CAF50;
    text-align: center;
    padding: 10px 0 15px 0;
    margin-bottom: 25px;
  }
  .og-column-navigation-list:empty {
    display: none;
  }
  .og-column-navigation-element {
    margin: 15px 0;
  }
}