.og-simple-header {
  @extend .bg--primary;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .h1, a {
    font-size: 25px;

  }
  &--secondary {
    .h1, a {
      color: $primary-color;
    }
  }
  .og-simple-header-nav {
    margin-left: auto;
  }
  &--monocolor {
    background-color: $mono-color-9;
    color: $mono-color-0;
  }
}