<ul class="ul">
    {{#each navPages}}
        <li class="tabs">{{this.slug}} - {{this.name}}</li>
    {{/each}}
</ul>
{{> components/forms/navigation formClass="l-column-distribution l-column-distribution--centered ml-basic-form"}}
