




{{#if navPages }}
    <ul class="ul">
        {{#each navPages}}
            <li class="tabs">{{this.slug}} - {{this.name}}<a href="{{../this.activePageSlug}}/{{this.id}}">Edit</a></li>
        {{/each}}
    </ul>
{{/if}}


{{> components/forms/navigation
        formClass="l-column-distribution l-column-distribution--centered ml-basic-form"}}
