.ml-cards-illumination {
  &-image {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    picture {
      image {
        max-width: 100%;
        max-height: 100%;
      }
      span {
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(50% - 10px);
        font-size: 22px;
      }
    }
  }
}