<div class="ml-cards-cosmetics">
    <div class="ml-cards-cosmetics-element">
        <div class="ml-cards-cosmetics-element-image">
            {{> atoms/svg/cosmetics/oil}}
        </div>
        <div class="ml-cards-cosmetics-element-text">
            Es <strong>usado para extraer su esencia</strong> con <a href="">una base neutra</a>.
            Después se puede <strong>usar como aroma o para dar masajes</strong>.
            Muy usado en <strong>aroma-terapia</strong>. <a href="">Compra su aciete</a>
        </div>
    </div>
    <div class="ml-cards-cosmetics-element">
        <div class="ml-cards-cosmetics-element-image">
            {{> atoms/svg/cosmetics/tattoo}}
        </div>
        <div class="ml-cards-cosmetics-element-text">
            Existe una <strong>tradición de tatuarse</strong> esta variedad, <strong>su belleza y sus formas</strong>
            hace que destaquen visualmente.
            <strong>Arte</strong> y naturaleza en la <strong>piel</strong>.
        </div>
    </div>
</div>