<div class="ml-cards-gastronomy">
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/oil}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            Se puede usar para <strong>aromatizar o crear aceites.</strong>
        </div>
    </div>
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/preserves}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            Si se quiere almacenar para largas temporadas <strong>se puede convertir en conservas.</strong>
            <a href="">Obten tus botes</a>
        </div>
    </div>
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/pie}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            ¡Haz tus <strong>pasteles, dulces y galletas</strong> con esta variedad!
        </div>
    </div>
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/condiment}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            Se puede <strong>convertir secándolo en condimento</strong> para usar durante largas temporadas y potenciar
            comidas.
        </div>
    </div>
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/colorant}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            Es usado como <strong>colorante alimenticio natural</strong>. ¡Dale color a tus comidas!
        </div>
    </div>
    <div class="ml-cards-gastronomy-element">
        <div class="ml-cards-gastronomy-element-image">
            {{> atoms/svg/gastronomy/cocktel}}
        </div>
        <div class="ml-cards-gastronomy-element-text">
            Se puede usar para crear <strong>cócteles</strong> y acompañar <strong>bebidas alcóholicas</strong>.
        </div>
    </div>
</div>