<div class="_template"
     data-template="components/title></div>
<div class="_template"
     data-template="components/blocks/ink"></div>
<div class="_template"
     data-component="item-navigation"
     data-template="components/menu/inkList"></div>
<!--<div class="_template" data-template="components/blocks/articles"></div>-->
<div class="_template"
     data-component="head-nav-scroll"
     data-template="components/menu/headNavigation"></div>
