<div class="_template" data-template="components/title"></div>
<div class="_template" data-template="components/blocks/ink"></div>
<div class="_template" data-template="components/menu/inkList" data-component="item-navigation"></div>
<div class="_template" data-template="components/menu/headNavigation" data-component="head-nav-scroll"></div>
<!--<div class="_template" data-template="components/blocks/articles"></div>-->
