<div class="container-fluid">
    <div class="row">
        <div class="col _template" data-template="components/title"></div>
    </div>
    <div class="row">
        <div class="col-2 _template" data-template="components/routerMenu"></div>
        <div class="col-8 _template" data-template="components/socialPost"></div>
        <div class="col-2 _template" data-template="components/timeline"></div>
    </div>
</div>