<div id="page" class="hfeed site">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="_template" data-template="components/blocks/articleSample"></div>
                <div class="_template" data-template="components/blocks/comments/toon/list"></div>
            </main>
        </div>
    </div>
</div>
<div class="_template"
     data-component="progress-bar"
     data-template="components/utils/progress-bar"></div>