<div class="og-last-searches">
    <div class="og-last-searches__title"> Tus Últimas Búsquedas:</div>
    <ul class="og-last-searches__list">
        {{#times 2}}
            <li class="ml-pill">
                <a href="#" class="ml-pill__wrapper">
                    <span class="ml-pill__date">
                        Salida el 23 de Agosto
                    </span>
                    <span class="ml-pill__title">
                        Selva Negra Alemania, Europa
                    </span>
                </a>
                <a href="#" class="ml-pill__close">
                    <span class="c-icon c-icon--normal c-icon-close-rounded"></span>
                </a>
            </li>
        {{/times}}
        <li class="ml-pill">
            <a href="#" class="ml-pill__wrapper">
                <span class="ml-pill__date">
                    Salida el 23 de Agosto
                </span>
                <span class="ml-pill__title">
                        Cancún
                </span>
            </a>
            <a href="#" class="ml-pill__close">
                <span class="c-icon c-icon--normal c-icon-close-rounded"></span>
            </a>
        </li>
    </ul>
</div>