<span class="bctt-click-to-tweet">
    <span class="bctt-ctt-text">
        <a href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/rosa/&amp;text=Al%20cortar%20una%20%23rosa%20hay%20que%20hacer%20un%20corte%20anguloso%20para%20dejar%20paso%20a%20las%20nuevas%20generaciones&amp;via=JardineraAmable&amp;related=JardineraAmable"
           target="_blank"
           rel="noopener noreferrer">
            Al cortar una #rosa hay que hacer un corte anguloso para dejar paso a las nuevas generaciones
        </a>
    </span>
    <a href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/rosa/&amp;text=Al%20cortar%20una%20%23rosa%20hay%20que%20hacer%20un%20corte%20anguloso%20para%20dejar%20paso%20a%20las%20nuevas%20generaciones&amp;via=JardineraAmable&amp;related=JardineraAmable"
       target="_blank"
       class="bctt-ctt-btn"
       rel="noopener noreferrer">
        &#65279;Clic para tuitear
    </a>
</span>