<div id="social_share_target" class="og-social-share"
     data-share-text=""
     data-share-hashtags="">
    <ul class="l-menu-horizontal-squares">
        <li class="social_share_trigger"
            data-social-target="social_share_target"
            data-social="twitter"
            style="background-image:url('http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg')">
        </li>
        <li class="social_share_trigger"
            data-social-target="social_share_target"
            data-social="facebook"
            style="background-image:url('http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg')">
        </li>
        <li class="social_share_trigger"
            data-social-target="social_share_target"
            data-social="linkedin"
            style="background-image:url('http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg')">
        </li>
        <li class="social_share_trigger"
            data-social-target="social_share_target"
            data-social="google"
            style="background-image:url('http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg')">
        </li>
        <li class="social_share_trigger"
            data-social-target="social_share_target"
            data-social="whatsapp"
            style="background-image:url('http://pyf.online:8888/wp-content/uploads/2017/07/tomato-769999_1920.jpg')">
        </li>
    </ul>
</div>