<div class="og-banner-fold-badge">
    <div class="og-banner-fold-badge-icon-star og-banner-fold-badge-icon">
        {{> atoms/svg/star}}
    </div>
    <div class="og-banner-fold-badge-icon og-banner-fold-badge-icon-close">
        {{> atoms/svg/close}}
    </div>
</div>