<div class="og-banner-fold">
    {{> components/images/banners/fold/element
        head="¡Ultimas Plazas de Agosto!"
        section="Caribe"
        claim="desde <strong>869€</strong>"
        link="https://www.iberojet.es/paginas/ofertas-caribe"
        button="Ver Oferta"
    }}
    {{> components/images/banners/fold/element
            head="¡Ultimas Plazas de Agosto!"
            section="Caribe"
            claim="desde <strong>869€</strong>"
            link="https://www.iberojet.es/paginas/ofertas-caribe"
            button="Ver Oferta"
    }}
    {{> components/images/banners/fold/badge}}



</div>