.og-progress-bar {
  position: fixed;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  &--bottom {
    bottom: 0;
  }
  &--top {
    top: 0;
  }
  .progress {
    position: absolute;
    bottom: 0;
    background-color: $primary-color-dark;
    height: 5px;
    z-index: 1;
  }
  .shadow {
    background-color: $primary-color-light;
    height: 5px;
    width: 100%;
  }
  &--secondary{
    .progress {
      background-color: $secondary-color;
    }
    .shadow {
      background-color: $primary-color;
    }
  }
  .point {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    color: $secondary-color;
  }
  &--secondary{
    .progress {
      background-color: $secondary-color;
    }
    .shadow {
      background-color: $primary-color;
    }
    .point {
      color: $secondary-color;
    }
  }

}