<div class="og-menu-vertical">
    <div class="og-menu-vertical-image">
        <picture>
            <img src="{{src}}">
        </picture>
        <div class="og-menu-vertical-claim">
            {{title}}
        </div>
    </div>
</div>