<div class="og-footer-layered">
    <picture class="og-footer-layered-image">
        <img
             src="/images/bonseo/logo.png"/>
    </picture>
    <nav class="og-footer-layered-navigation">
        <a href="" class="a og-footer-layered-navigation-link">Cookies</a>
        <a href="" class="a og-footer-layered-navigation-link">Privacidad</a>
        <a href="" class="a og-footer-layered-navigation-link">Contacta</a>
    </nav>
</div>