<div class="og-title-splash">
    <div class="og-title-splash-media">
        {{>molecules/cartoon/slider}}
    </div>
    <h{{relevance}} class="h{{relevance}} ml-title ml-title--centered">
        {{text}}
    </h{{relevance}}>
</div>