$font-size-h1: 24px;
$font-size-h2: 22px;
$font-size-h3: 20px;
$font-size-text: 18px;
$font-size-legend: 16px;

$font-size-h1--mobile: 22px;
$font-size-h2--mobile: 20px;
$font-size-h3--mobile: 18px;
$font-size-text--mobile: 16px;
$font-size-legend--mobile: 14px;