<div class="ml-banner-badge {{#if modifier}} ml-banner-badge--{{modifier}}{{/if}}">
    <div class="ml-banner-badge-image">
        <span class="c-icon c-icon-star c-icon--big"></span>
    </div>
    <div class="ml-banner-badge-text {{animation}}">
        {{{text}}}
    </div>
</div>

