<div class="ml-cards-plants-colors">
    <div class="ml-cards-plants-colors-wrapper">
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-flower">
            <div class="ml-cards-plants-colors-list-heading"><h3>Flores</h3></div>
            <div class="color color--roja">
            </div>
            <div class="color color--amarilla">
            </div>
            <div class="color color--multicolor">
            </div>
        </div>
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-leaf">
            <div class="ml-cards-plants-colors-list-heading"><h3>Hojas</h3></div>
            <div class="color color--azul">
            </div>
            <div class="color color--naranja">
            </div>
            <div class="color color--marron">
            </div>
        </div>
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-plant">
            <div class="ml-cards-plants-colors-list-heading"><h3>Fruta</h3></div>
            <div class="color color--blanca">
            </div>
            <div class="color color--negra">
            </div>
            <div class="color color--azul">
            </div>
        </div>
    </div>
</div>