<div class="ml-cards-flavor">
    <h4 class="ml-cards-flavor-element">
        <div class="ml-cards-flavor-element-title">
            Fruto
        </div>
        <div class="ml-cards-flavor-element-svg acid">
            {{> atoms/svg/flavor/acid}}
        </div>
        <div class="ml-cards-flavor-element-type">
            Ácido
        </div>
    </h4>
    <h4 class="ml-cards-flavor-element">
        <div class="ml-cards-flavor-element-title">
            Flor
        </div>
        <div class="ml-cards-flavor-element-svg spicy">
            {{> atoms/svg/flavor/spicy}}
        </div>
        <div class="ml-cards-flavor-element-type">
            Picante
        </div>
    </h4>
    <h4 class="ml-cards-flavor-element">
        <div class="ml-cards-flavor-element-title">
            Raíz
        </div>
        <div class="ml-cards-flavor-element-svg noFlavor">
            {{> atoms/svg/flavor/noFlavor}}
        </div>
        <div class="ml-cards-flavor-element-type">
            Sin Sabor
        </div>
    </h4>
</div>