<div class="ml-cards-origin">
    <div class="ml-cards-origin-map">
        {{> atoms/svg/continent/africa}}
        <div class="ml-cards-origin-bubble">
            {{> atoms/svg/flags/ES}}
        </div>
    </div>
</div>