<div class="ml-cards-plant-type">
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/flower}}</div>
        <h4 class="ml-cards-plant-type-element-text">flower</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/berry}}</div>
        <h4 class="ml-cards-plant-type-element-text">berry</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/tree}}</div>
        <h4 class="ml-cards-plant-type-element-text">tree</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/fruit}}</div>
        <h4 class="ml-cards-plant-type-element-text">fruit</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/grass}}</div>
        <h4 class="ml-cards-plant-type-element-text">grass</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/vegetable}}</div>
        <h4 class="ml-cards-plant-type-element-text">vegetable</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/climbing}}</div>
        <h4 class="ml-cards-plant-type-element-text">climbing</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/hanging}}</div>
        <h4 class="ml-cards-plant-type-element-text">hanging</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/aerial}}</div>
        <h4 class="ml-cards-plant-type-element-text">aerial</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/alga}}</div>
        <h4 class="ml-cards-plant-type-element-text">alg</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/creeping}}</div>
        <h4 class="ml-cards-plant-type-element-text">creeping</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/shrub}}</div>
        <h4 class="ml-cards-plant-type-element-text">shrub</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/palm}}</div>
        <h4 class="ml-cards-plant-type-element-text">palm</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/tuber}}</div>
        <h4 class="ml-cards-plant-type-element-text">tuber</h4>
    </a>
    <a href="#" class="ml-cards-plant-type-element">
        <div class="ml-cards-plant-type-element-svg">{{> atoms/svg/plantType/sheath}}</div>
        <h4 class="ml-cards-plant-type-element-text">sheath</h4>
    </a>
</div>