<div class="ml-cards-variety">
    <div class="ml-cards-variety-arrow left is-disabled">
        {{> atoms/svg/arrows/regular}}
    </div>
    <div class="ml-cards-variety-container">
        {{#times 10}}
            <div class="ml-cards-variety-element">
                <div class="ml-cards-variety-element-image">
                    <img width="100px" height="100px" src="https://via.placeholder.com/100x100" alt="Tomate Jouerney's End">
                </div>
                <h4 class="ml-cards-variety-element-text">
                    <div class="variety-title">Tomate</div>
                    <div class="variety-subtitle">Journey's End</div>
                </h4>
            </div>
        {{/times}}
    </div>
    <div class="ml-cards-variety-arrow right">
        {{> atoms/svg/arrows/regular}}
    </div>
</div>