<div class="ml-cards-care">
    <div class="ml-cards-care-content">
        <h4 class="ml-cards-care-title">Riego</h4>
        <div class="ml-cards-care-image">
            {{> atoms/svg/care/water}}
        </div>
        <div class="ml-cards-care-text">2 veces por semana</div>
    </div>
    <div class="ml-cards-care-content">
        <h4 class="ml-cards-care-title">Fertilizante</h4>
        <div class="ml-cards-care-image">
            {{> atoms/svg/care/fertilizer}}
        </div>
        <div class="ml-cards-care-text">1 vez al mes</div>
    </div>
</div>