<div class="ml-cards-duration">
    <div class="ml-cards-duration-image">
        {{> atoms/svg/duration/falling}}
    </div>
    <div class="ml-cards-duration-text">
        Es una variedad de <strong>hoja caduca</strong>
    </div>
</div>

<div class="ml-cards-duration">
    <div class="ml-cards-duration-image">
        {{> atoms/svg/duration/temporal}}
    </div>
    <div class="ml-cards-duration-text">
        Es una variedad <strong>anual</strong>
    </div>
</div>

<div class="ml-cards-duration">
    <div class="ml-cards-duration-image">
        {{> atoms/svg/duration/eternal}}
    </div>
    <div class="ml-cards-duration-text">
        Es una variedad <strong>perenne</strong>
    </div>
</div>