<div class="ml-cards-season">
    <div class="ml-cards-season-container">
        <div class="ml-cards-season-image">
            {{> atoms/svg/season/summer}}
        </div>
        <h4 class="ml-cards-season-text">
            Verano
        </h4>
    </div>
    <div class="ml-cards-season-container">
        <div class="ml-cards-season-image">
            {{> atoms/svg/season/winter}}
        </div>
        <h4 class="ml-cards-season-text">
            Invierno
        </h4>
    </div>
    <div class="ml-cards-season-container">
        <div class="ml-cards-season-image">
            {{> atoms/svg/season/autumn}}
        </div>
        <h4 class="ml-cards-season-text">
            Otoño
        </h4>
    </div>
    <div class="ml-cards-season-container">
        <div class="ml-cards-season-image">
            {{> atoms/svg/season/spring}}
        </div>
        <h4 class="ml-cards-season-text">
            Primavera
        </h4>
    </div>
</div>