<div class="ml-cards-separation">
    <div class="ml-cards-separation-image">
        {{> atoms/svg/separation/separation
                row="1"
                col="2"
                deep="3"}}
    </div>
</div>