<div class="ml-cards-soil">
    <div class="ml-cards-soil-text">
        Su pH tiene que ser ácido rondando los {{ph}} puntos.
    </div>
    <div class="ml-cards-soil-ph">
        {{> atoms/svg/soil/ph}}
        <div class="ml-cards-soil-ph-pointer position-p{{ph}}">
            {{> atoms/svg/soil/pointer}}
        </div>
    </div>
</div>