<div class="ml-cards-transplant">
    <div class="ml-cards-transplant-image">
        {{> atoms/svg/trasplants/feeder }}
    </div>
    <div class="ml-cards-transplant-text">
        Cuando el plantón tenga sus primeras hojas verdades.
    </div>
</div>

<div class="ml-cards-transplant">
    <div class="ml-cards-transplant-image">
        {{> atoms/svg/trasplants/final }}
    </div>
    <div class="ml-cards-transplant-text">
        Una vez crezca se podrá pasar de la tierra a su ubicación final.
    </div>
</div>