<div class="ml-full-message ml-full-message--{{modifier}}">
    <div class="ml-full-message-container">
        <div class="ml-full-message-image">
            {{> (concat 'atoms/svg/' svg) }}
        </div>
        <div class="ml-full-message-text">
            <div class="ml-full-message-text-title">{{{title}}}</div>
            <div class="ml-full-message-text-description">{{{description}}}</div>
        </div>
    </div>
</div>