{{> molecules/banner/badge
        text='<span>
                <strong class="u-replace-destination">"destino"</strong> es uno de nuestros destinos más solicitados en <strong  class="u-replace-date">"mes"</strong>.
            </span>
             <span class="u-text-desktop">Reserva tu viaje pagando sólo el <strong>10%</strong> y el resto en cómodas cuotas <strong>sin intereses</strong>.
            </span>'
}}
{{> molecules/banner/badge
        modifier="secondary"
        text='<span>
                <strong class="u-replace-destination">"destino"</strong> es uno de nuestros destinos más solicitados en <strong  class="u-replace-date">"mes"</strong>.
            </span>
             <span class="u-text-desktop"> Reserva tu viaje pagando sólo el <strong>10%</strong> y el resto en cómodas cuotas <strong>sin intereses</strong>.
            </span>'
}}
{{> molecules/banner/badge
        modifier="contrast"
        text='<span>
                <strong class="u-replace-destination">"destino"</strong> es uno de nuestros destinos más solicitados en <strong  class="u-replace-date">"mes"</strong>.
            </span>
             <span class="u-text-desktop"> Reserva tu viaje pagando sólo el <strong>10%</strong> y el resto en cómodas cuotas <strong>sin intereses</strong>.
            </span>'
}}
{{> molecules/banner/badge
        modifier="relax"
        text='<span>
                <strong class="u-replace-destination">"destino"</strong> es uno de nuestros destinos más solicitados en <strong  class="u-replace-date">"mes"</strong>.
            </span>
             <span class="u-text-desktop"> Reserva tu viaje pagando sólo el <strong>10%</strong> y el resto en cómodas cuotas <strong>sin intereses</strong>.
            </span>'
}}
{{> molecules/banner/badge
        modifier="secondary"
        text='<span><strong>¡Atención! Últimas plazas con esta tarifa.</strong>¡Reserva tu plaza antes de que suba el precio pagando sólo el <strong>10%</strong> y el resto en cómodas cuotas <strong>sin intereses</strong></span>.'
        animation="a-pulse"
}}