.og-notification-button {
  position: fixed;
  bottom: 20%;
  height: 100px;
  transform: translateX(-500%);
  transition: transform ease-in 1s, box-shadow ease-in 1s;
  &.is-active {
    transition: transform ease-in 1s, box-shadow ease-in 1s;
    transform: translateX(0);
  }
  .og-notification-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 0 5px 5px 0;
    height: 65px;
    width: 140px;
    svg {
      align-self: center;
      order: 1;
      width: 30px;
      height: 30px;
      padding-right: 2px;
    }
    p {
      cursor: pointer;
      font-size: 12px;
      width: 70%;
      order: 0;
      align-self: center;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
  .og-notification-close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: white;
    border-radius: 100%;

  }

  //MODIFIERS
  .og-notification-container {
    &--primary {
      background-color: $mono-color-0;
      color: $secondary-color-text;
      svg {
        fill: $secondary-color-text;
      }
      .og-notification-close {
        background-color: $mono-color-0;
        color: $secondary-color-text;
      }
    }
    &--secondary {
      background-color: $primary-color;
      color: $primary-color-text;
      svg {
        fill: $primary-color-text;
      }
      .og-notification-close {
        background-color: $primary-color;
        color: $primary-color-text;
      }
    }
    &--contrast {
      background-color: $secondary-color;
      color: $primary-color-text;
      svg {
        fill: $primary-color-text;
      }
      .og-notification-close {
        background-color: $secondary-color;
        color: $primary-color-text;
      }
    }
    &--low-contrast {
      border: 1px solid $secondary-color;
      border-left: none;
      background-color: white;
      color: $secondary-color;
      svg {
        fill: $secondary-color;
      }
      .og-notification-close {
        border: 1px solid $secondary-color;
        border-left: none;
        border-bottom: none;
        background-color: white;
        color: $secondary-color;
      }
    }
  }
}