<div class="og-cards-food">
    {{> components/cards/food/calories}}
    {{> components/cards/food/cholesterol}}
    {{> components/cards/food/fat}}
    {{> components/cards/food/fiber}}
    {{> components/cards/food/hydrates}}
    {{> components/cards/food/protein}}
</div>