.ml-cards-tools {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  &-container {
    cursor: pointer;
    position: relative;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &-type {
  }
  &-shop {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #ffefc6;
    border-radius: 5px;
    border: 1px solid $mono-color-8;
    padding: 3px;
  }
}

@media only screen and (max-width: 720px) {
  .ml-cards-tools {
    &-container {
      width: 100px;
      height: 100px;
    }
  }
}