a, .a, .a:hover, .a:visited, .a:active {
  text-decoration: none;
  color: $primary-color;
  cursor: pointer;
}

a:hover, .a:hover {
  text-decoration: none;
  font-weight: bold;
  color: $primary-color-dark;
}

a:visited, .a:visited {
  text-decoration: none;
  color: $primary-color-dark;
}

