<!DOCTYPE html>
<html>
{{> components/seo/metaHead}}
<body class="{{activePage}}">
    {{{body}}}
    <script type="text/javascript" src="/js/framework.min.js"></script>
    <script type="text/javascript" src="/js/components.min.js"></script>
</body>
</html>
