<!DOCTYPE html>
<html>
{{> components/seo/metaHead}}
<body class="{{activePage}}">
    {{> header/header}}
    {{> components/menu/router}}
    {{{body}}}
    {{> footer/footer}}
    <script type="text/javascript" defer src="/js/components.min.js"></script>
</body>
</html>
