<div id="comments" class="comments-area"><h2 class="comments-title"> 2 comentarios en “Rosa”</h2>
    <ol class="comment-list">
        <div class="_template" data-template="components/blocks/comments/toon/comment"></div>
        <!-- comment -->
    </ol>
    <div class="_template" data-template="components/blocks/comments/toon/add"></div>
    <!-- response -->
</div>