$image-box-size: 25px;
.ml-imagebox {
  height: 40px;
  padding: 10px 5px;
  display:flex;
  justify-content: center;
  .image-label {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-size: cover;
    width: $image-box-size;
    height: $image-box-size;
    margin-left: 5px;

    &--facebook {
      background-image: url($image-social-facebook);
    }
    &--twitter {
      background-image: url($image-social-twitter);
    }
    &--google {
      background-image: url($image-social-google);
    }
    &--pinterest {
      background-image: url($image-social-pinterest);
    }
    &--instagram {
      background-image: url($image-social-instagram);
    }
    &.is-active {
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
    }
  }

}