<form action="/navElements" method="POST">
    <input class="i-text" type="text" placeholder="slug" name="slug">
    <input class="i-text" type="text" placeholder="name" name="name">
    <button class="button button--primary button--primary--glow" type="submit">Submit</button>
</form>