<form class="{{formClass}}" action="/navElements" method="POST">
    <fieldset>
        <legend>New Navs</legend>
        {{> atoms/input/text
                placeholder="slug"
                validation="uri"
                label="Slug"
                name="slug"
                required="true"
        }}

        {{> atoms/input/text
                placeholder="Insert your name"
                validation="string"
                label="Name"
                name="name"
                required="true"
        }}
    </fieldset>
    {{> atoms/input/submit
            modifier=""
            text="Save"}}
</form>