<form class="{{formClass}}" action="{{endpoint}}" method="POST">
    <fieldset>
        <legend>
            {{#if isUpdate}}
                Edit Nav Entry
            {{else}}
                Add New Entry
            {{/if}}
        </legend>
        {{> atoms/input/text
                placeholder="Insert your slug"
                validation="uri"
                label="Slug"
                name="slug"
                required="true"
                value=editElement.slug
        }}
        {{> atoms/input/text
                placeholder="Insert your name"
                validation="string"
                label="Name"
                name="name"
                value=editElement.name
                required="true"
        }}
    </fieldset>
    {{#if isUpdate}}
        {{> atoms/input/submit
                modifier=""  text="Edit"}}
    {{else}}
        {{> atoms/input/submit modifier=""  text="Save"}}
    {{/if}}
</form>