.h1 {
  @extend .a-size-h1;
  font-weight: bold;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
    padding: 30px;
  }
  &--light {
    font-weight: normal;
  }
}

.h1--primary {
  color: $primary-color-text;
}

.h2--secondary {
  color: $secondary-color-text;
}