.h5 {
  font-size: 10px;
  margin:0;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--strong {
    font-weight: bold;
  }
  &--light {
    font-weight: lighter;
  }
}

.h1--primary{
  color: $primary-color-text;
}

.h2--secondary {
  color:$secondary-color-text;
}