{{> components/header/og-logo-inline}}
<div class="l-content">
    {{> components/title/splash
            relevance="1"
            text="Slider, desliza tu contenido"
            image="/images/bonseo/banner-claim.png"
    }}
    <div class="l-content-layer l-content-layer--slim">
        {{> molecules/content/basic
                text="Un slider es una manera de mostrar una gran cantidad de información, gráfica o textual,
                 en una pequeá cantidad de espacio."
        }}
    </div>
    <div class="l-content-layer">
        {{> molecules/title/colorful
                relevance="2"
                text="Hipótesis"
                image="/images/bonseo/banner-claim.png"
        }}
    </div>
    <div class="l-content-layer l-content-layer--slim">
        {{> molecules/content/basic
                text="La premisa inicial es que sabemos que un texto escondido para los navegadores
                puede impactar <strong>negativamente</strong>."
        }}
        {{> molecules/image/basic
                mobile=""
                modifier="img img__tiny img__centered"
                image="/images/bonseo/banner-claim.png"}}

    </div>
    <div class="l-content-layer">
        {{> molecules/title/colorful
                relevance="2"
                text="Análisis SEO"
                image="/images/bonseo/banner-claim.png"
        }}
    </div>
    <div class="l-content-layer l-content-layer--slim">
        {{> molecules/content/basic
                text="La premisa inicial es que sabemos que un texto escondido para los navegadores
                puede impactar negativamente."
        }}
    </div>
</div>
{{> components/footer/layered}}