{{> components/header/og-logo-inline}}
<div class="l-content">
    <div class="l-content-layer">
        {{> molecules/title/centered relevance="1" text="Haz crecer tu negocio Online"}}
        {{> molecules/content/basic
                text="Somos una empresa afincada en Mallorca especializada en servicios de posicionamiento en buscadores,
         programación, diseño de páginas web y estrategias en social media."
        }}
    </div>
</div>
{{> components/footer/layered}}