{{> components/header/og-logo-inline}}
<div class="l-content">
    <div class="l-content-layer">
        {{> components/images/banners/claim}}
    </div>
    <div class="l-content-layer l-content-layer--slim">
        {{> molecules/title/centered relevance="1" text="Haz crecer tu negocio Online"}}
        {{> molecules/content/basic
                text="Somos una empresa afincada en Mallorca especializada en servicios de posicionamiento en buscadores,
         programación, diseño de páginas web y estrategias en social media."
        }}
        {{> components/blocks/branding}}
    </div>
    <div class="l-content-layer l-content-layer">
        {{> molecules/banner/email email="info@bonseo.es"}}
    </div>
    <div class="l-content-laye l-content-layer--slim">
        {{> molecules/title/centered relevance="2" text="Aprende y Hazlo tú mismo"}}
        {{> molecules/content/basic
                text="Conviertete en experto en alguna de estas disciplinas y profundiza en sus conocimientos."
        }}
        {{> components/menu/vertical}}
    </div>
</div>
{{> components/footer/layered}}