<div class="l-flex l-flex--justify-center a-pad-40">
    <div class="l-column--1-3">
        {{> atoms/title/h1
                title="Bonseo"}}
        {{> atoms/title/link
                link="/bonseo/"
                title="Home"}}
        {{> atoms/title/link
                link="/bonseo/servicios"
                title="Servicios"}}
        {{> atoms/title/link
                link="/bonseo/cursos"
                title="Cursos"}}
        {{> atoms/title/link
                link="/bonseo/hazlo-tu-mismo"
                title="Hazlo tu mismo"}}
    </div>
    <div class="l-column--1-3">
        {{> atoms/title/h1
                title="Vostok"}}
        {{> atoms/title/link
                link="/vostok/product"
                title="Home"}}
        {{> atoms/title/link
                link="/vostok/list"
                title="Servicios"}}
    </div>
    <div class="l-column--1-3">
        {{> atoms/title/h1
                title="Let Me Gift"}}
        {{> atoms/title/link
                link="/lmg/"
                title="Splash Screen"}}
        {{> atoms/title/link
                link="/lmg/pattern"
                title="Pattern"}}
        {{> atoms/title/link
                link="/lmg/gender"
                title="Gender"}}
        {{> atoms/title/link
                link="/lmg/age"
                title="Age"}}
        {{> atoms/title/link
                link="/lmg/lifestyle"
                title="Lifestyle"}}
        {{> atoms/title/link
                link="/lmg/budget"
                title="Budget"}}
        {{> atoms/title/link
                link="/lmg/waiting"
                title="Waiting"}}
        {{> atoms/title/link
                link="/lmg/products"
                title="Products"}}
    </div>
</div>