<!--<div class="_template" data-component="social" data-template="infographic/scoville"></div>-->
<div class="_template" data-component="notificationButton" data-template="modal/notification/button"></div>
<!--<div class="_template" data-template="modal/notification/classic"></div>-->
<div class="_template" data-template="mocks/loreIpsum"></div>
<div class="_template" data-template="components/utils/progress-bar" data-component="progress-bar"></div>
<div class="_template" data-template="menu/like-menu" data-component="likeMenu"></div>
<div class="_template" data-template="mocks/loreIpsum"></div>

