<div class="l-mask-full-screen l-mask-full-screen--center ml-card-flip">

    <div class="og-fx-layer-bubble-container u-text--center a-call a-call--secondary ml-card-container">
        <div class="og-fx-layer-bubble-close u-text--bold">
            X
        </div>
        <div class="ml-card-face ml-card-face-front">
            <div class="og-fx-layer-bubble-container-inner">
                <img class="og-fx-layer-bubble-container-image avatar avatar--rounded avatar--medium"
                     src="https://placeimg.com/400/400/people" alt="" width="135">
                <div class="og-fx-layer-bubble-container-title u-text--bold">
                    <div>¿Podemos ayudarte?</div>
                    <div>Te llamamos enseguida</div>
                </div>
                <div class="og-fx-layer-bubble-container-description">
                    Te llamamos de manera gratuita para un trato personal y de calidad.
                </div>
                <div class="og-fx-layer-bubble-container-claim u-text--bold">
                    ¡Déjate asesorar por un profesional!
                </div>
                <div class="og-fx-layer-bubble-container-button button button--secondary button--secondary--glow button--xl u-text--bold">
                    Llámame
                </div>
            </div>
        </div>
        <div class="ml-card-face ml-card-face-back">
            <div class="og-c2c-form og-step-form ">
                <div class="og-fx-layer-bubble-container-scrollable ">
                    <div class="og-step-form-element u-overflow-scroll" data-position="1">
                    </div>
                    <div class="og-step-form-element" data-position="2" data-last="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

