<!--
ecommerce: {
    image: req.body['ecommerce.image'],
    title: req.body['ecommerce.title'],
    description: req.body['ecommerce.description'],
    article: req.body['ecommerce.article'],
    price: req.body['ecommerce.price'],
    discount: req.body['ecommerce.discount'],
    slug: req.body['ecommerce.slug'],
    stock: req.body['ecommerce.stock']
},
name: req.body.name,
keyFeatures: req.body.keyFeatures,
videoUri: req.body.videoUri,
tags: req.body.tags,
comments: req.body.comments
-->
<div class=" og-article-minimalist l-3-column">
    <div class="l-3-column-main og-product-list">
        {{#each components}}
            {{> components/blocks/product/list/element
                    name=this.name
                    title=this.ecommerce.title
                    link=this.ecommerce.slug
                    image=this.ecommerce.image
                    relativePath=../activePageSlug
                    description=this.ecommerce.description
            }}
        {{/each}}
    </div>
</div>
