<div class="ml-cards-plants-colors">
    <h2 class="ml-cards-plants-colors-heading-main">Colores del Tomate</h2>
    <div class="ml-cards-plants-colors-wrapper">
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-flower">
            <div class="ml-cards-plants-colors-list-heading"><h3>Colores de los Pétalos</h3></div>
            <div class="color color--roja">
                {{> atoms/svg/flower}}
            </div>
            <div class="color color--amarilla">
                {{> atoms/svg/flower}}
            </div>
            <div class="color color--multicolor">
                {{> atoms/svg/flower}}
            </div>
        </div>
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-leaf">
            <div class="ml-cards-plants-colors-list-heading"><h3>Colores de la hoja</h3></div>
            <div class="color color--azul">
                {{> atoms/svg/leaf}}
            </div>
            <div class="color color--naranja">
                {{> atoms/svg/leaf}}
            </div>
            <div class="color color--marron">
                {{> atoms/svg/leaf}}
            </div>
        </div>
        <div class="ml-cards-plants-colors-list ml-cards-plants-colors-plant">
            <div class="ml-cards-plants-colors-list-heading">Colores de la fruta</div>
            <div class="color color--blanca">
                {{> atoms/svg/fruit}}
            </div>
            <div class="color color--negra">
                {{> atoms/svg/fruit}}
            </div>
            <div class="color color--azul">
                {{> atoms/svg/fruit}}
            </div>
        </div>
    </div>
</div>