<div class="og-cards-plants">
    {{> components/cards/plants/bio}}
    {{> components/cards/plants/cautions}}
    {{> components/cards/plants/climate}}
    {{> components/cards/plants/colors}}
    {{> components/cards/plants/duration}}
    {{> components/cards/plants/habitat}}
    {{> components/cards/plants/origin}}
    {{> components/cards/plants/pot}}
    {{> components/cards/plants/resistance}}
    {{> components/cards/plants/type}}
    {{> components/cards/plants/water}}
</div>

