<div class="ml-cards-symbolism">
    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/anger}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Ira
        </h4>
    </div>

    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/demon}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Demonio
        </h4>
    </div>

    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/sacred}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Sagrado
        </h4>
    </div>

    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/hinduism}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Hinduísmo
        </h4>
    </div>
</div>