<div class="ml-cards-symbolism">
    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/beauty}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Belleza
        </h4>
    </div>

    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/fragile}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Delicadeza
        </h4>
    </div>

    <div class="ml-cards-symbolism-element">
        <div class="ml-cards-symbolism-list-element-image">
            {{> atoms/svg/symbolism/prosperity}}
        </div>
        <h4 class="ml-cards-symbolism-list-element-text">
            Prosperidad
        </h4>
    </div>
</div>