.og-fixed-summary-price {
  .og-fixed-summary-price-wrapper {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    .og-fixed-summary-price-value {
      order: 1;
      flex-grow: 1;
      text-align: center;
      .small {
        font-size: 10px;
      }
      p {
        margin: 0;
        line-height: 1;
      }

    }
    .og-fixed-summary-price-button {
      order: 2;
      flex-grow: 1;
      margin: 5px 0;

    }
    .og-fixed-summary-price-fold {
      order: 0;
      border-right: 1px solid;
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      max-width: 50px;
    }

  }

  .og-fixed-summary-price-unfold {
    bottom: 45px;
    position: fixed;
    transform: translateY(100%);
    transition: 1s transform;
    width: 100%;
    height: 100%;
  }
  &.is-active {
    .og-fixed-summary-price-unfold {
      padding-top: 45px;
      overflow-y: auto;
      transition: 1s transform;
      transform: translateY(0);
    }
  }

}

.content-to-copy{

}

@media only screen and (min-width: $media-size-m) {
  .og-fixed-summary-price {
    display: none;
  }

}

