.og-image-claim {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  overflow-y: hidden;
  max-height: 500px;
  h1 {
    border: none !important;
  }
  &--h1 {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: bold;
    padding: 20px;

    &:after {
      content: " ";
      display: block;
      margin: 10px auto;
      width: 60%;
      background-color: rgba(110, 192, 113, 0.6);
      height: 3px;
      border-radius: 100%;
    }
    &--title {
      text-transform: capitalize;
    }
    &--claim {
      font-style: italic;
    }
  }
  &--description {
    justify-self: center;
    padding: 15px 15px;
    align-self: center;
    border-left: 3px solid $primary-color-light;
    &:hover {
      border-color: $primary-color-dark;
    }
    span {
      display: block;
    }
    strong {
      color: $primary-color;
      font-weight: bold;
    }
  }
  &--image {
    flex: 1;
    order: 1;
    max-width: 50%;

    img {
      width: 100%;
      max-height: inherit !important;
      height: 100%;
      object-fit: cover;

    }
  }
  &--additional {
    flex: 1;
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}



@media only screen and (max-width: $media-size-l) {
  .og-image-claim {
    max-height: 600px;
  }
}


@media only screen and (max-width: $media-size-lm) {
  .og-image-claim {
    flex-wrap: wrap;
    flex-direction: column;
    max-height: none;
    &--h1 {
      order:0;
      font-size: 1.3rem;
      padding: 5px 20px;
    }
    &--description {
      order:1
    }
    &--image {
      order: 0;
      padding: 0 10px;
      min-width: 100%;
      height: auto;
    }
  }
}

