{{> components/message/full
        modifier="warning"
        title="Planta Invasora"
        description="Esta planta es invasora y hay que tener especial precaución al plantarla, te aconsejo que uses <a href=\"\">una maceta</a> para contenerla."
        svg="invader"
}}