{{> components/message/full
        modifier="info"
        title="Maceta"
        description="Esta variedad puede cultivarse, crecer en maceta. <a href=\"\">Descubre la variedad de maceta ideal.</a>"
        svg="pot"
}}
