{{> components/message/full
        modifier="info"
        title="Se Aconseja usar tutor"
        description="Se aconseja usar tutor para que la planta crezca recta y alta. <a href=\"\">No te olvides de conseguir uno.</a>"
        svg="up"
}}
