<div class="l-inline-wrap">
    {{#each Posts }}
        <img class="item_navigation_option l-inline-wrap-element avatar avatar--small avatar--rounded"
             data-id="{{this.id}}"
             src="{{this.image}}"/>
    {{/each}}
</div>