.bg {
  &--primary {
    background-color: $primary-color;
    color: $primary-color-text;
  }
  &--primary--reverse {
    background-color: $primary-color;
    color: $secondary-color-text;
  }
  &--secondary {
    background-color: $secondary-color;
    color: $secondary-color-text;
  }
  &--secondary-reverse {
    background-color: $secondary-color;
    color: $primary-color-text;
  }
  &--content-writable {
    background-color: $mono-color-0;
    color: $mono-color-9;
  }
}