.og-logo-inline {
  position: sticky;
  top: 0;
  background: $mono-color-0;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba($primary-color-light, 0.2);
  height: 50px;
  &-image {
    align-self: flex-end;
    width: auto;
    display: block;
    margin-bottom: -2px;
    height: 100%;
    object-fit: cover;
  }
  &-navigation {
    flex-wrap: nowrap;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    padding: 5px;
    align-items: center;
    text-transform: capitalize;
    &-link.a {
      color: $mono-color-8;
      font-size: 15px;
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 720px) {
  .og-logo-inline {
    height: 30px;
    &-image {

      img {
      }
    }
    &-navigation {
      font-size: 12px;
      padding: 5px;
    }
  }
}