<li id="comment-27" class="comment even thread-even depth-1">
    <article id="div-comment-27" class="comment-body">
        <footer class="comment-meta">
            <div class="comment-metadata">
                <span class="comment-author vcard">
                        <img alt=""
                             src="https://secure.gravatar.com/avatar/?s=54&amp;d=mm&amp;r=g"
                             srcset="https://secure.gravatar.com/avatar/?s=108&amp;d=mm&amp;r=g 2x"
                             class="avatar avatar-54 photo avatar-default"
                             height="54"
                             width="54">
                        <b class="fn">Name</b>
                </span>
                <time datetime="2017-11-06T23:22:17+00:00">
                    <span class="comment-date">6th noviembre 2017</span>
                    <span class="comment-time screen-reader-text">11:22 pm</span>
                </time>
            </div>
        </footer>
        <div class="comment-content">
            Content Sample
        </div>
    </article>
</li>