<fieldset class="{{formClass}} ml-fieldset">
    <legend>eCommerce</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Title &lt;h1&gt; </h1></h2>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Title"
                        validation="string"
                        label="Series"
                        value=editElement.ecommerce.title
                        name="ecommerce.title"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field ml-field-xl">
            <h2 class="ml-heading">Description</h2>
            <div class="ml-group">
                {{> atoms/input/area
                        placeholder="Description"
                        validation="string"
                        label="Series"
                        value=editElement.ecommerce.description
                        name="ecommerce.description"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field ml-field-xl">
            <h2 class="ml-heading">Article</h2>
            <div class="ml-group">
                {{> atoms/input/area
                        placeholder="Article"
                        validation="string"
                        label="Series"
                        value=editElement.ecommerce.article
                        name="ecommerce.article"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Price</h2>
            <div class="ml-group">
                {{> atoms/input/number
                        placeholder="Price"
                        validation="number"
                        label="Precio"
                        value=editElement.ecommerce.price
                        name="ecommerce.price"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Discount</h2>
            <div class="ml-group">
                {{> atoms/input/number
                        placeholder="Discount"
                        validation="number"
                        label="Discount"
                        value=editElement.ecommerce.discount
                        name="ecommerce.discount"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">/{slug}</h2>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="slug"
                        validation="string"
                        label="Slug"
                        value=editElement.ecommerce.slug
                        name="ecommerce.slug"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Stock</h2>
            <div class="ml-group">
                {{> atoms/input/number
                        placeholder="Stock"
                        validation="number"
                        label="Stock"
                        value=editElement.ecommerce.stock
                        name="ecommerce.stock"
                        required="true"
                }}
            </div>
        </div>
    </div>
</fieldset>


<!--
ecommerce: {
images: [String],
title: {type: String, required: true},
description: {type: String, required: true},
article: {type: String},
price: 0,
discount: {type: Number},
slug: {type: String, required: true, lowercase: true},
stock: 0
},-->