<div class="og-banner-claim">
    <picture class="og-banner-claim-image">
        <source
                media="(max-width: 720px)"
                srcset="/images/bonseo/banner-claim-mobile.png">
        <img
                src="/images/bonseo/banner-claim.png" />
    </picture>
    <ul class="og-banner-claim-highlights">
        <h2>Tu equipo de Expertos:</h2>
        <li>#1 Posicionamiento</li>
        <li>#2 Diseño de Páginas Web</li>
        <li>#3 Estrategia en Redes Sociales</li>
        <li>#4 Mejora tu % de Conversión</li>
    </ul>
</div>