<div class="og-banner-fold">
    <div class="og-banner-fold-element">
        <div class="og-banner-fold-element-heading">¡Últimas plazas Agosto!</div>
        <div class="og-banner-fold-element-columns">
            <div class="og-banner-fold-element-highlight">Caribe</div>
            <hr>
            <div class="og-banner-fold-element-columns-vertical">
                <span>desde <strong>869€</strong></span>
                <a href="https://www.iberojet.es/paginas/ofertas-caribe" class="og-banner-fold-element-button">
                    Ver Oferta
                </a>
            </div>
        </div>
    </div>

    <div class="og-banner-fold-element">
        <div class="og-banner-fold-element-heading">¡40% de Ahorro!</div>
        <div class="og-banner-fold-element-columns">
            <div class="og-banner-fold-element-highlight">Circuitos Europa</div>
            <hr>
            <div class="og-banner-fold-element-columns-vertical">
                <span>desde <strong>727€</strong></span>
                <a href="https://www.iberojet.es/paginas/ofertas-circuitos" class="og-banner-fold-element-button">
                    Ver Oferta
                </a>
            </div>
        </div>
    </div>

    <div class="og-banner-fold-badge">
        <div class="og-banner-fold-badge-icon-star og-banner-fold-badge-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px"
                 height="100px" viewBox="0 0 100 100" version="1.1">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <title>mdpi/Estrella</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <path d="M99.8847221,37.245181 C100.019213,37.7970934 100.036024,38.3579075 99.9351562,38.9098199 C99.834288,39.470634 99.5905232,39.9602337 99.1954561,40.3786188 L78.0131369,62.802283 L83.3339337,96.4956411 C83.4011792,97.0564553 83.3507451,97.6083676 83.1910371,98.1691817 C83.0229235,98.7210941 82.7119133,99.1394792 82.2496007,99.4154354 C81.9890246,99.5578644 81.7284484,99.6824898 81.4678723,99.7804097 C81.1988904,99.8872314 80.9046916,99.9406423 80.57687,99.9406423 C80.3835393,99.9406423 80.1649915,99.9228387 79.9380381,99.8872314 C79.7110847,99.8516242 79.492537,99.7626061 79.2992063,99.6290789 L50.0390264,82.7245381 L20.7872522,99.6290789 C20.3249397,99.9050351 19.8205987,100.02966 19.257418,99.9940532 C18.702643,99.9584459 18.2235191,99.7626061 17.828452,99.4154354 C17.433385,99.1394792 17.1391861,98.7210941 16.9458554,98.1691817 C16.744119,97.6083676 16.6852792,97.0564553 16.744119,96.4956411 L21.9640477,62.802283 L0.790134131,40.3786188 C0.462312523,39.9602337 0.235359103,39.4884376 0.100868187,38.9632307 C-0.033622729,38.4469256 -0.033622729,37.9039151 0.100868187,37.3520028 C0.235359103,36.7911886 0.512746617,36.3371962 0.941436411,35.9900256 C1.36172052,35.6428549 1.84084441,35.4381132 2.36199671,35.3668987 L34.2783722,29.6341319 L47.483699,1.5667189 C47.7442751,1.08602105 48.1057195,0.703243141 48.568032,0.41838516 C49.0219388,0.142428991 49.5178741,0 50.0390264,0 C50.5685844,0 51.0561139,0.142428991 51.5184265,0.41838516 C51.980739,0.703243141 52.3421833,1.08602105 52.6027595,1.5667189 L65.7996806,29.6341319 L97.6151879,35.260077 C98.1447458,35.3312915 98.6238697,35.544935 99.0441538,35.8921056 C99.4728436,36.2392763 99.7502312,36.6932687 99.8847221,37.245181"
                          id="offerStar"/>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                    <g id="ESTRELLA">
                        <mask id="mask-2">
                            <use xlink:href="#offerStar"/>
                        </mask>
                        <use id="Estrella" xlink:href="#offerStar"/>
                    </g>
                </g>
            </svg>
        </div>
        <div class="og-banner-fold-badge-icon og-banner-fold-badge-icon-close">
            <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <title>mdpi/X</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <path d="M98.6488889,85.8416667 C99.1377778,86.3 99.4844444,86.8166667 99.6888889,87.4 C99.9022222,87.9916667 100,88.5083333 100,88.9666667 C100,89.425 99.9022222,89.9583333 99.6888889,90.575 C99.4844444,91.2 99.1377778,91.7333333 98.6488889,92.1916667 L92.2933333,98.6333333 C91.8044444,99.0916667 91.2711111,99.4333333 90.6844444,99.6583333 C90.0888889,99.8916667 89.5555556,100 89.0666667,100 C88.5777778,100 88.0444444,99.8916667 87.4488889,99.6583333 C86.8622222,99.4333333 86.32,99.0916667 85.84,98.6333333 L51.5644444,64.3583333 C51.0755556,63.9666667 50.56,63.775 50,63.775 C49.4488889,63.775 48.9244444,63.9666667 48.4444444,64.3583333 L14.1688889,98.6333333 C13.68,99.0916667 13.1466667,99.4333333 12.5511111,99.6583333 C11.9644444,99.8916667 11.4222222,100 10.9422222,100 C10.4533333,100 9.92,99.8916667 9.32444444,99.6583333 C8.73777778,99.4333333 8.19555556,99.0916667 7.71555556,98.6333333 L1.36,92.1916667 C0.871111111,91.7333333 0.524444444,91.2 0.311111111,90.575 C0.106666667,89.9583333 0,89.425 0,88.9666667 C0,88.5083333 0.106666667,87.9916667 0.311111111,87.4 C0.524444444,86.8166667 0.871111111,86.3 1.36,85.8416667 L35.6266667,51.5666667 C36.1155556,51.1083333 36.3555556,50.5916667 36.3555556,50 C36.3555556,49.4166667 36.1155556,48.8916667 35.6266667,48.4416667 L1.36,14.1583333 C0.871111111,13.7083333 0.524444444,13.1833333 0.311111111,12.6 C0.106666667,12.0166667 0,11.4916667 0,11.0333333 C0,10.5166667 0.124444444,9.96666667 0.364444444,9.375 C0.613333333,8.79166667 0.942222222,8.26666667 1.36,7.81666667 L7.71555556,1.36666667 C8.19555556,0.916666667 8.73777778,0.575 9.32444444,0.341666667 C9.92,0.116666667 10.4533333,0 10.9422222,0 C11.4222222,0 11.9644444,0.116666667 12.5511111,0.341666667 C13.1466667,0.575 13.68,0.916666667 14.1688889,1.36666667 L48.4444444,35.65 C48.9244444,36.0333333 49.4488889,36.2333333 50,36.2333333 C50.56,36.2333333 51.0755556,36.0333333 51.5644444,35.65 L85.84,1.36666667 C86.32,0.916666667 86.8088889,0.575 87.2977778,0.341666667 C87.7777778,0.116666667 88.3733333,0 89.0666667,0 C89.5555556,0 90.0888889,0.116666667 90.6844444,0.341666667 C91.2711111,0.575 91.8044444,0.916666667 92.2933333,1.36666667 L98.6488889,7.81666667 C99.1377778,8.26666667 99.4844444,8.80833333 99.6888889,9.425 C99.9022222,10.0416667 100,10.5833333 100,11.0333333 C100,11.4916667 99.9022222,12.0166667 99.6888889,12.6 C99.4844444,13.1833333 99.1377778,13.7083333 98.6488889,14.1583333 L64.3822222,48.4416667 C63.8933333,48.8916667 63.6444444,49.4166667 63.6444444,50 C63.6444444,50.5916667 63.8933333,51.1083333 64.3822222,51.5666667 L98.6488889,85.8416667 Z"
                          id="close"></path>
                </defs>
                <g id="X" stroke="none" stroke-width="1" fill-rule="evenodd">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#close"></use>
                    </mask>
                    <use id="Fill-1" xlink:href="#close"></use>
                </g>
            </svg>
        </div>
    </div>
</div>