<div class="og-image-banner-full">
    <picture>
        <source data-srcset="https://bv-dam.s3.amazonaws.com/dam/photos/06/04/42/f3/d93ebb4619895dedd572e8b409d857c47e0fd756a2c277873ddb9dfe.jpg"
                media="(max-width: 480px)"/>
        <source data-srcset="https://bv-dam.s3.amazonaws.com/dam/photos/2f/71/f0/1b/ff24221b252fa8c070edd56f1e095586c799ec4add8ec0a21660b3b8.jpg"
                media="(min-width: 481px) and (max-width: 767px)"/>
        <source srcset="https://bv-dam.s3.amazonaws.com/dam/photos/de/56/73/5b/3cc7dd37c54b41f05bc4601fe75090c3cfa73172b229c0488ac40794.jpg"/>
        <img class="lazy"
             style="width:100%"
             data-srcset="https://bv-dam.s3.amazonaws.com/dam/photos/de/56/73/5b/3cc7dd37c54b41f05bc4601fe75090c3cfa73172b229c0488ac40794.jpg"
             alt="Agosto, Septiembre y Octubre, Desde 713€ en Iberojet"
             src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/graphics/shim.gif"
        />
    </picture>
</div>