<div class="ml-seo-title">
    <h1 class="ml-seo-title-h1">Tomate Rosa</h1>
    <div class="ml-seo-title-description">
        Una descripción bonita y lapidaria sobre el artículo que vas a escribir es indispensable.
    </div>
    <img width="475px"
         height="270px"
         class="ml-seo-title-image"
         src="https://via.placeholder.com/350x350"
         alt="Tomate Rosa"/>
</div>
