<div class="og-router-menu">
    <div class="router-button" data-page="home">🏠</div>
    <div class="router-button" data-page="">📅</div>
    <div class="router-button" data-page="settings">⚙</div>
</div>
