<div class="ml-left-align-title">
    <h2 class="h2  h2--secondary" data-key="{{currentPage}}.title">Hola</h2>
    <h3 class="h3 h3--secondary">
        <strong data-key="{{currentPage}}.subtitle"></strong>{{Posts.length}}
    </h3>
</div>