.og-article-minimalist {
  text-align: left;
  .image {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    padding: 5px;
    h1 {
      padding: 10px 0;
      font-weight: bolder;
      font-size: 1.6rem;
    }
    h2 {
      padding: 8px 0;
      font-weight: 600;
      font-size: 1.2rem;
    }
    h3, h4, h5 {
      padding: 6px 0;
      font-weight: 300;
      font-size: 1.1rem;
    }
    p {

    }
    a {
      border-bottom: 1px solid $primary-color;
    }
    strong {
      color: $primary-color;
    }
  }

}