<!--
name: {type: String, required: true},
    keyFeatures: [{type: String}],
    videoUri: {type: String, lowercase: true, required: true},
    tags: [{type: String}],
    comments: {type: String}
    -->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Generic</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Descripción</h2>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Nombre del componente"
                        validation="string"
                        label="Nombre"
                        name="name"
                        value=editElement.name
                        required="true"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Comentarios"
                        validation="string"
                        label="Comentarios"
                        name="comments"
                        value=editElement.comments
                        required="true"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Enlace al Video"
                        value=editElement.videoUri
                        validation="string"
                        label="Video"
                        name="videoUri"
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Key Features</h2>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Key Feature 1"
                        validation="string"
                        value=editElement.keyFeatures.[0]
                        label="KF1"
                        name="keyFeatures"
                        required="true"
                }}

            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Key Feature 2"
                        validation="string"
                        label="KF2"
                        value=editElement.keyFeatures.[1]
                        name="keyFeatures"
                        required="true"
                }}

            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Key Feature 3"
                        value=editElement.keyFeatures.[2]
                        validation="string"
                        label="KF3"
                        name="keyFeatures"
                        required="true"
                }}

            </div>
        </div>
    </div>
</fieldset>
