.og-i18n-flag {
  background-color: #c6c6c6;
  &--fold {
    overflow: hidden;
  }
  &--unfold {
    z-index: 1;
    .og-i18n-flag--list {
      background-color: #c6c6c6;
      flex-direction: column;
    }
  }
  &--list {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }
  &--element {
    display: flex;
    justify-content: center;
    order: 1;
    padding: 0 5px;
    flex-direction: column;
    margin-bottom: 10px;
    &.is-active {
      margin-top: 2px;

      order: 0;
    }
    &--text {
      font-size: 12px;
      color: black;
      margin: 0;
      padding: 0;
      place-self: center;
      line-height: 0px;
    }
    &--svg {
      height: 40px;
      svg {
        width: 50px;
        height: auto;
      }
    }
  }
}