$image-social-twitter:   '../img/social/twitter.png';
$image-social-facebook:  '../img/social/twitter.png';
$image-social-instagram: '../img/social/twitter.png';
$image-social-pinterest: '../img/social/twitter.png';
$image-social-google:    '../img/social/twitter.png';
