* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/** START SPLASH SCREEN **/
.app {
  background:url($brand-splash-logo) no-repeat center top;
  position:absolute;
  left:50%;
  top:50%;
  height:50px;
  width:225px;
  text-align:center;
  padding:180px 0px 0px 0px;
  margin:-115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:center center;
  }
}