<div class="ml-cartoon-slider">
    {{>atoms/cartoon/square size="xl" theme="primary" }}
    {{>atoms/cartoon/square size="xl" theme="secondary" }}
    {{>atoms/cartoon/square size="xl" theme="primary" }}
    {{>atoms/cartoon/square size="xl" theme="secondary" }}
    {{>atoms/cartoon/square size="xl" theme="primary" }}
</div>