.og-head-nav {
  padding-top: 5px;
  .og-head-nav-element {
    background-color: $primary-color;
    color: $primary-color-text;
    min-width: 25%;
    height: 40px;
    line-height: 40px;
    &.is-active {
      position: relative;
      background-color: $primary-color-light;
      box-shadow: 0px 0px 5px $primary-color-dark;
    }
  }
}