.a-cartoon-square  {
  border: 1px solid $secondary-color;
  &--primary {
    border-color: $primary-color;
    background-color: rgba($primary-color-light, 0.9);
  }
  &--secondary {
    border-color: $secondary-color;
    background-color: rgba($secondary-color-light, 0.9);
  }
  &--xl {
    width: 200px;
    height: 200px;
  }
  &--l {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (max-width: 720px) {
  .a-cartoon-square  {
    &--xl {
      width: 100px;
      height: 100px;
    }
    &--l {
      width: 75px;
      height: 75px;
    }
  }
}