.og-list-data-display {
  ul {
    margin-top: 10px;
    .dataRow {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      border-bottom: 1px solid $primary-color;
      .data {
        padding: 15px 5px;
        align-items: center;
        flex-grow: 2;
        text-align: center;
        min-width: 50px;
        text-overflow: clip;
        overflow: hidden;
      }
    }
  }
}