<div class="ml-cards-tools">
    <a href="#" class="ml-cards-tools-container">
        <div class="ml-cards-tools-type">
            {{> atoms/svg/tools/gloves}}
        </div>
        <div class="ml-cards-tools-shop">
            {{> atoms/svg/icons/amazon}}
        </div>
    </a>
    <a href="#" class="ml-cards-tools-container">
        <div class="ml-cards-tools-type">
            {{> atoms/svg/tools/pot}}
        </div>
        <div class="ml-cards-tools-shop">
            {{> atoms/svg/icons/amazon}}
        </div>
    </a>
    <a href="#" class="ml-cards-tools-container">
        <div class="ml-cards-tools-type">
            {{> atoms/svg/tools/scissor}}
        </div>
        <div class="ml-cards-tools-shop">
            {{> atoms/svg/icons/amazon}}
        </div>
    </a>
    <a href="#" class="ml-cards-tools-container">
        <div class="ml-cards-tools-type">
            {{> atoms/svg/tools/shovel}}
        </div>
        <div class="ml-cards-tools-shop">
            {{> atoms/svg/icons/amazon}}
        </div>
    </a>
    <a href="#" class="ml-cards-tools-container">
        <div class="ml-cards-tools-type">
            {{> atoms/svg/tools/watering}}
        </div>
        <div class="ml-cards-tools-shop">
            {{> atoms/svg/icons/amazon}}
        </div>
    </a>
</div>