<a class="a button button--cta button--cta--glow button--logo button--logo--patreon" href="#">
    <span class="button--logo--svg">
        {{> atoms/svg/patreon}}
    </span>

    <span class="button--logo--text">
        Colabora
    </span>
</a>