.og-gamification-screen {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba($mono-color-1, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  &.is-active {
    width: 100%;
  }
  .og-gamification-screen-wrapper {
    width: 200px;
    position: absolute;
    color: $secondary-color;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    svg {
      fill: $secondary-color;
      animation: float 0.5s ease-in-out infinite;
    }
  }
  .og-gamification-screen-header {

  }

}

.og-gamification-screen-element {
  z-index: 1001;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}