<!--

cronograph: {
        has: {type: Boolean, required: true, default: false},
        maxTime: {type: Number}, //minutes
        quickReset: {type: Boolean, required: true, default: false}
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Cronograph</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Basic</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Cronograph?"
                        name="cronograph.has"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Max. Time (in Seconds)"
                        name="cronograph.maxTime"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Additional</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Quick Reset"
                        name="cronograph.quickReset"
                }}
            </div>
        </div>
    </div>
</fieldset>