<!--

dial: {
        size: {
            diameter: {type: Number},
            depth: {type: Number},
            height: {type: Number},
            width: {type: Number}
        },
        hardener: {type: Boolean},
        material: [String],
        color: [String]
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Dial</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Size (cm)</h2>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Diameter"
                        name="dial.size.diameter"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Depth"
                        name="dial.size.depth"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Height"
                        name="dial.size.height"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Width"
                        name="dial.size.Width"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Endurance</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Hardener"
                        name="dial.hardener"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Material</h2>
            <div class="ml-group">
                {{#each model.materials}}
                    {{> atoms/input/checkbox
                            label=this
                            name="dial.material"
                    }}
                {{/each}}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Color</h2>
            <div class="ml-group">
                {{#each model.colors}}
                    {{> atoms/input/checkbox
                            label=this
                            name="dial.color"
                    }}
                {{/each}}
            </div>
        </div>
    </div>
</fieldset>