<!--
extra: {
        hasSolarPower: {type: Boolean, required: true, default: false},
        isSmartWatch: {type: Boolean, required: true, default: false},
        hasShockProtection: {type: Boolean, required: true, default: false},
        hasSpecialPackage: {type: Boolean, required: true, default: false},
        hasAltimeter: {type: Boolean, required: true, default: false},
        hasAlarm: {type: Boolean, required: true, default: false},
        hasCompass: {type: Boolean, required: true, default: false},
        hasWorldTime: {type: Boolean, required: true, default: false},
        hasTimer: {type: Boolean, required: true, default: false},
        tachymeter: {type: Boolean, required: true, default: false},
        hasMoonPhases: {type: Boolean, required: true, default: false}
    }
-->


<fieldset class="{{formClass}} ml-fieldset">
    <legend>Extras</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Properties</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Solar Power"
                        name="extra.hasSolarPower"
                }}
                {{> atoms/input/checkbox
                        label="SmartWatch"
                        name="extra.isSmartWatch"
                }}
                {{> atoms/input/checkbox
                        label="Shock Protection"
                        name="extra.hasShockProtection"
                }}
                {{> atoms/input/checkbox
                        label="Special Package"
                        name="extra.hasSpecialPackage"
                }}
                {{> atoms/input/checkbox
                        label="Altimeter"
                        name="extra.hasAltimeter"
                }}
                {{> atoms/input/checkbox
                        label="Alarm"
                        name="extra.hasAlarm"
                }}
                {{> atoms/input/checkbox
                        label="Compass"
                        name="extra.hasCompass"
                }}
                {{> atoms/input/checkbox
                        label="World Time"
                        name="extra.hasWorldTime"
                }}
                {{> atoms/input/checkbox
                        label="Timer"
                        name="extra.hasTimer"
                }}
                {{> atoms/input/checkbox
                        label="Tachymeter"
                        name="extra.tachymeter"
                }}
                {{> atoms/input/checkbox
                        label="Moon Phases"
                        name="extra.hasMoonPhases"
                }}
            </div>
        </div>
    </div>
</fieldset>