<!--
extra: {
        hasSolarPower: {type: Boolean, required: true, default: false},
        isSmartWatch: {type: Boolean, required: true, default: false},
        hasShockProtection: {type: Boolean, required: true, default: false},
        hasSpecialPackage: {type: Boolean, required: true, default: false},
        hasAltimeter: {type: Boolean, required: true, default: false},
        hasAlarm: {type: Boolean, required: true, default: false},
        hasCompass: {type: Boolean, required: true, default: false},
        hasWorldTime: {type: Boolean, required: true, default: false},
        hasTimer: {type: Boolean, required: true, default: false},
        tachymeter: {type: Boolean, required: true, default: false},
        hasMoonPhases: {type: Boolean, required: true, default: false}
    }
-->


<fieldset class="{{formClass}} ml-fieldset">
    <legend>Extras</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Properties</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Solar Power?"
                        name="extra.hasSolarPower"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="is SmartWatch?"
                        name="extra.isSmartWatch"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Shock Protection?"
                        name="extra.hasShockProtection"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Special Package?"
                        name="extra.hasSpecialPackage"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Altimeter?"
                        name="extra.hasAltimeter"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Alarm?"
                        name="extra.hasAlarm"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Compass?"
                        name="extra.hasCompass"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has World Time?"
                        name="extra.hasWorldTime"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Timer?"
                        name="extra.hasTimer"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Tachymeter?"
                        name="extra.tachymeter"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Has Moon Phases?"
                        name="extra.hasMoonPhases"
                }}
            </div>
        </div>
    </div>
</fieldset>