<!--
generic: {
        brand: {type: String, required: true}, //VOSTOK
        gender: {type: String, required: true, lowercase: true, default: 'u'}, //W/M/U
        series: {type: String, required: false},
        code: {type: String, required: true}
    },
-->
<fieldset class="{{formClass}} ml-fieldset">
    <legend>Generic</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Brand Information</h2>
            <div class="ml-group">
                {{> atoms/input/select
                        placeholder="Descripci칩n para la p치gina"
                        validation="select"
                        label="Brand"
                        name="generic.brand"
                        options=this.brands
                        required="true"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/select
                        validation="select"
                        label="Brand"
                        name="generic.gender"
                        options=this.genders
                        required="true"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="Colecci칩n de este reloj"
                        validation="select"
                        label="Series"
                        name="generic.series"
                        required="false"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="C칩digo de este reloj"
                        validation="select"
                        label="Code"
                        name="generic.code"
                        required="true"
                }}
            </div>
        </div>
    </div>
</fieldset>
