<!--
glass: {
        material: [],
        curvature: {type: Boolean},
        antiReflective: {type: Boolean}
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Glass</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Materials</h2>
            <div class="ml-group">
                {{#each model.materials}}
                    {{> atoms/input/checkbox
                            label=this
                            name="glass.material"
                    }}
                {{/each}}
            </div>
        </div>

        <div class="ml-field">
            <h2 class="ml-heading">Properties</h2>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Curvature"
                        name="glass.curvature"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/checkbox
                        label="Antireflective"
                        name="glass.antiReflective"
                }}
            </div>
        </div>
    </div>
</fieldset>