<form class="{{formClass}}" action="{{endpoint}}" method="POST">
    {{> components/forms/commons/ecommerce}}
    {{> components/forms/watch/case}}
    {{> components/forms/watch/cronograph}}
    {{> components/forms/watch/dial}}
    {{> components/forms/watch/extra}}
    {{> components/forms/watch/generic}}
    {{> components/forms/watch/glass}}
    {{> components/forms/watch/illumination}}
    {{> components/forms/watch/mechanism}}
    {{> components/forms/watch/properties}}
    {{> components/forms/watch/resistance}}
    {{> components/forms/watch/time}}
    {{> components/forms/watch/wristband}}
    {{> atoms/input/submit
            modifier=""
            text="Save"}}
</form>