<!--

mechanism: {
        type: {type: String, required: true}, //Mecánico, Automático, Quark, AutoQuark
        caliber: {type: String, required: true}, //nombre especifico
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Mechanism</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Properties</h2>
            <div class="ml-group">
                {{> atoms/input/select

                        validation="select"
                        label="Type"
                        name="mechanism.type"
                        options=this.mechanismTypes
                        required="true"
                }}
            </div>
            <div class="ml-group">
                {{> atoms/input/text
                        placeholder="What Kind of Caliber?"
                        validation="string"
                        label="Caliber"
                        name="mechanism.caliber"
                        required="true"
                }}
            </div>
        </div>
    </div>
</fieldset>
