<!--

time: {
        display: [String], //digital-analogic
        numbers: [String], //roman, arabes, empty, index
        hourFormat: [Number], //12, 24, o 12 y 24
        watchHands: [String], //s, m, h
        calendar: [String] //d, wd, m, y
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Time</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Display</h2>
            <div class="ml-group">
                {{> atoms/input/checkBoxGroup
                        validation="checkbox"
                        label="Type"
                        name="time.display"
                        options=this.displays
                        required="false"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Numbers</h2>
            <div class="ml-group">
                {{> atoms/input/checkBoxGroup
                        validation="checkbox"
                        label="Type"
                        name="time.numbers"
                        options=this.timeNumbers
                        required="false"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Format</h2>
            <div class="ml-group">
                {{> atoms/input/checkBoxGroup
                        validation="checkbox"
                        label="Type"
                        name="time.hourFormat"
                        options=this.timeFormats
                        required="false"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Hands</h2>
            <div class="ml-group">
                {{> atoms/input/checkBoxGroup
                        validation="checkbox"
                        label="Type"
                        name="time.watchHands"
                        options=this.watchHands
                        required="false"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Calendar</h2>
            <div class="ml-group">
                {{> atoms/input/checkBoxGroup
                        validation="checkbox"
                        label="Type"
                        name="time.calendar"
                        options=this.calendarDisplays
                        required="false"
                }}
            </div>
        </div>
    </div>
</fieldset>