<!--
wristband: {
        material: [String], //piel, silicona
        closure: {type: String, required: true}, //boton, hebilla
        color: [String],
        size: [Number]
    },

-->

<fieldset class="{{formClass}} ml-fieldset">
    <legend>Wristband</legend>
    <div class="ml-fieldset-wrapper">
        <div class="ml-field">
            <h2 class="ml-heading">Materials</h2>
            <div class="ml-group">
                {{#each model.materials}}
                    {{> atoms/input/checkbox
                            label=this
                            name="wristband.material"
                    }}
                {{/each}}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Coating Color</h2>
            <div class="ml-group">
                {{#each colors}}
                    {{> atoms/input/checkbox
                            label=this
                            name="wristband.color"
                    }}
                {{/each}}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Closure</h2>
            <div class="ml-group">
                {{> atoms/input/select
                        validation="select"
                        label="Closure"
                        name="wristband.closure"
                        options=this.closures
                        required="true"
                }}
            </div>
        </div>
        <div class="ml-field">
            <h2 class="ml-heading">Size (cm)</h2>
            <div class="ml-group">
                {{> atoms/input/number
                        label="Size"
                        name="wristband.size"
                }}
            </div>
        </div>
    </div>
</fieldset>